{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Default" />

Render Powermail Form
{form} 			All Forms with their Pages and their Fields
{ttContentData}		All values from content element with plugin


<f:section name="main">
    <f:alias map="{flashMessageClass:'powermail_message_error'}">
        <f:render partial="Misc/FlashMessages" arguments="{_all}" />
    </f:alias>


    <f:if condition="{form}">
        <f:then>
            <div class="info-container left">
                <div class="container content-container">
                    <div class="row">
                        <div class="col-12 text">
                            <f:form
                                action="{action}"
                                section="c{ttContentData.uid}"
                                name="field"
                                enctype="multipart/form-data"
                                additionalAttributes="{vh:validation.enableParsleyAndAjax(form:form)}"
                                addQueryString="{settings.misc.addQueryString}"
                                class="{f:if(condition: '{field.css} == \'col\'', then: 'col')}{f:if(condition: '{field.css} == \'col-6\'', then: 'col-12 col-md-6')}{f:if(condition: '{field.css} == \'col-12\'', then: 'col-12')}{f:if(condition: '{field.css} == \'col-6no-label\'', then: 'col-12 col-md-6 no-label')}{f:if(condition: '{field.css} == \'col-12no-label\'', then: 'col-12 no-label')} powermail_form powermail_form_{form.uid} {settings.styles.framework.formClasses} {vh:misc.morestepClass(activate:settings.main.moresteps)}">

                                <f:if condition="{form.css} != 'nolabel'">
                                    <h3 class="mb-3">{form.title}</h3>
                                </f:if>
                                <f:render partial="Misc/FormError" arguments="{_all}" />

                                <f:for each="{form.pages}" as="page">
                                    <f:render partial="Form/Page" arguments="{_all}" />
                                </f:for>

                                <f:form.hidden name="mail[form]" value="{form.uid}" class="powermail_form_uid" />
                                <f:render partial="Misc/HoneyPod" arguments="{form:form}" />
                            </f:form>
                        </div>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else>
            <f:translate key="error_no_form" />
        </f:else>
    </f:if>

</f:section>
