{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="PowermailAll" />

	Render Powermail All Part
		Available variables:
		{mail} 					Complete Mail
		{settings}				TypoScript and FlexForm values
		{section}				Contains "web" or "mail"
		{type}					Caller "createAction", "confirmationAction", "sender", "receiver"


Section for Web view

<f:section name="web">
    <div class="info-container left">
        <div class="container content-container">
            <div class="row">
                <div class="col-12 text">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <f:if condition="{mail.pid}==32">
                                <p><strong>Vielen Dank für Ihre Anfrage für das Success Magazin!</strong> Wir werden diese so schnell wie möglich bearbeiten.<br><br>
                                    Folgende Daten wurden an uns übermittelt:</p>
                            </f:if>
                            <f:if condition="{mail.pid}==29">
                                <p><strong>Vielen Dank für Ihre Anmeldung für ein Online-Seminar bei Kosmetik Akademie Engel!</strong> Wir werden diese so schnell wie möglich bearbeiten.<br><br>
                                    Folgende Daten wurden an uns übermittelt:</p>
                            </f:if>
                            <f:if condition="{mail.pid}==33">
                                <p><strong>Vielen Dank für Ihre Anfrage für ein Coaching von Kosmetik Akademie Engel!</strong> Wir werden diese so schnell wie möglich bearbeiten.<br><br>
                                    Folgende Daten wurden an uns übermittelt:</p>
                            </f:if>
                        </div>
                        <f:for each="{mail.answers}" as="answer">
                            <f:if condition="{vh:condition.isNotExcludedFromPowermailAll(answer:answer, type:type, settings:settings)}">
                                <f:if condition="{settings.misc.showOnlyFilledValues}">
                                    <f:then>
                                        <f:if condition="{vh:condition.isNotEmpty(val:'{answer.value}')}">
                                            <f:render partial="PowermailAll/Web" arguments="{_all}" />
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:render partial="PowermailAll/Web" arguments="{_all}" />
                                    </f:else>
                                </f:if>
                            </f:if>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>



Section for Mails

<f:section name="mail">
	<table class="powermail_all">
		<f:for each="{mail.answers}" as="answer">
			<f:if condition="{vh:Condition.isNotExcludedFromPowermailAll(answer:answer, type:type, settings:settings)}">
				<f:if condition="{settings.misc.showOnlyFilledValues}">
					<f:then>
						<f:if condition="{vh:Condition.IsNotEmpty(val:'{answer.value}')}">
							<f:render partial="PowermailAll/Mail" arguments="{_all}" />
						</f:if>
					</f:then>
					<f:else>
						<f:render partial="PowermailAll/Mail" arguments="{_all}" />
					</f:else>
				</f:if>
			</f:if>
		</f:for>
	</table>
</f:section>
