html {
    body {
        // MainContent Styles
        #mainContent:not(.default) {
            margin-top: 4rem;

            @include media-breakpoint-down(xs) {
                margin-top: 0;
            }
        }

        #mainContent {
            .top-background {
                position: relative;

                &:before {
                    content: '';
                    height: 4.2rem;
                    width: 100%;
                    background-color: $layout-primary-color;
                    position: absolute;
                    top: -4rem;
                }
            }

            &.inverse {
                .top-background {
                    &:before {
                        background-color: $layout-secondary-color;
                    }
                }

                #layout-start {
                    margin-bottom: 7.5rem;

                    @include media-breakpoint-down(xs) {
                        margin-bottom: 3rem;
                    }

                    &:after {
                        background-color: $layout-secondary-color;
                    }

                    .entry-container {
                        background-color: $layout-primary-color;

                        &:after {
                            content: '';
                            background-color: $layout-primary-color;
                            height: 100%;
                            width: 500px;
                            position: absolute;
                            right: -500px;
                            top: 0;
                        }
                    }
                }
            }

            #layout-start {
                position: relative;
                overflow-x: hidden;

                &:after {
                    content: '';
                    background-color: $layout-primary-color;
                    height: calc(100vh - 4rem - 90px); // Height = 100vh - margin-top - Navigationshöhe pro Viewport
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    z-index: -1;

                    @include media-breakpoint-down(lg) {
                        height: calc(100vh - 4rem - 81px);
                    }

                    @include media-breakpoint-down(md) {
                        height: calc(85vh - 4rem - 72px);
                    }

                    @include media-breakpoint-down(sm) {
                        height: auto;
                        min-height: calc(100vh - 4rem - 63px);
                    }

                    @include media-breakpoint-down(xs) {
                        display: none;
                    }
                }

                .entry-container {
                    background-color: $layout-secondary-color;
                    height: calc(110vh - 90px); // Height = 100vh - Navigationshöhe pro Viewport
                    padding: 4rem;
                    position: relative;

                    @include media-breakpoint-down(lg) {
                        height: calc(110vh - 81px);
                    }

                    @include media-breakpoint-down(md) {
                        height: calc(100vh - 4rem - 72px);
                    }

                    @include media-breakpoint-down(sm) {
                        height: auto;
                        min-height: calc(110vh - 4rem - 63px);
                    }

                    @include media-breakpoint-down(xs) {
                        min-height: calc(80vh - 63px);
                    }

                    @media (max-height: 680px) and (min-width: 1020px) {
                        padding: 3rem;
                    }

                    @media (max-width: 530px) {
                        padding: 3rem;
                        min-height: calc(60vh - 63px);
                    }

                    @media (max-width: 400px) {
                        padding: 2rem 1rem;
                    }

                    &:after {
                        content: '';
                        background-color: $layout-secondary-color;
                        height: 100%;
                        width: 500px;
                        position: absolute;
                        right: -500px;
                        top: 0;
                    }

                    .content {
                        position: relative;
                        z-index: 10;

                        .image-logo {
                            margin-bottom: 5rem;

                            @media (max-height: 680px) and (min-width: 1020px) {
                                margin-bottom: 3rem;
                            }

                            @include media-breakpoint-down(sm) {
                                margin-bottom: 3rem;
                            }

                            img {
                                @include media-breakpoint-down(lg) {
                                    width: 200px;
                                }

                                @include media-breakpoint-down(md) {
                                    width: 170px;
                                }

                                @media (max-height: 680px) and (min-width: 1020px) {
                                    width: 140px;
                                }

                                @include media-breakpoint-down(sm) {
                                    width: 200px;
                                }

                                @media (max-width: 530px) {
                                    width: 180px;
                                }

                                @media (max-width: 400px) {
                                    width: 150px;
                                }
                            }
                        }
                    }
                }
            }

            // EntryHome styles
            #entryHome {
                .image-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    overflow-y: hidden;

                    @include media-breakpoint-down(sm) {
                        display: none;
                    }

                    .image {
                        display: flex;
                        justify-content: flex-end;
                        position: absolute;
                        right: 50px;
                        bottom: -200px;

                        @media (max-height: 1040px) and (min-width: 1320px) {
                            bottom: 90px;
                            justify-content: flex-start;
                        }

                        @media (max-height: 1040px) and (min-width: 1730px) {
                            bottom: 0;
                        }

                        @include media-breakpoint-down(lg) {
                            justify-content: flex-end;
                            bottom: 50px;
                        }

                        @include media-breakpoint-down(md) {
                            bottom: 0;
                        }

                        @media (max-height: 700px) and (max-width: 1320px) {
                            bottom: -130px;
                        }

                        @media (max-height: 600px) and (max-width: 1320px) {
                            bottom: -230px;
                        }

                        img {
                            width: 90%;
                            height: 100%;

                            @include media-breakpoint-down(lg) {
                                width: 75%;
                            }

                            @media (max-height: 1040px) and (min-width: 1320px) {
                                width: 65%;
                            }

                            @media (max-height: 960px) and (min-width: 1320px) {
                                width: 60%;
                            }

                            @media (max-height: 850px) and (min-width: 1320px) {
                                width: 50%;
                            }

                            @include media-breakpoint-down(md) {
                                width: 56%;
                            }

                            @media (max-height: 900px) and (max-width: 1320px) {
                                width: 47%;
                            }

                            @media (max-height: 800px) and (max-width: 1320px) {
                                width: 40%;
                            }

                            @media (max-height: 700px) and (max-width: 1320px) {
                                width: 43%;
                            }

                            @media (max-height: 880px) and (min-width: 1320px) {
                                width: 55%;
                            }

                            @media (max-height: 800px) and (min-width: 1320px) {
                                width: 50%;
                            }

                            @media (max-height: 750px) and (min-width: 1320px) {
                                width: 45%;
                            }

                            @media (max-height: 680px) and (min-width: 1320px) {
                                width: 37%;
                            }

                            @media (max-height: 580px) and (min-width: 1320px) {
                                width: 32%;
                            }

                            @media (min-height: 1041px) and (min-width: 1730px) {
                                width: 91%;
                            }

                            @media (max-height: 1040px) and (min-width: 1730px) {
                                width: 63%;
                            }

                            @media (max-height: 880px) and (min-width: 1730px) {
                                width: 57%;
                            }

                            @media (max-height: 800px) and (min-width: 1730px) {
                                width: 53%;
                            }

                            @media (max-height: 750px) and (min-width: 1730px) {
                                width: 47%;
                            }

                            @media (max-height: 680px) and (min-width: 1730px) {
                                width: 40%;
                            }

                            @media (max-height: 580px) and (min-width: 1730px) {
                                width: 32%;
                            }
                        }
                    }
                }
            }
            // EntryHome styles END

            // content-container styles
            .main-container {
                height: auto !important;
                min-height: calc(110vh - 90px); // Height = 100vh - Navigationshöhe pro Viewport

                @include media-breakpoint-down(lg) {
                    min-height: calc(110vh - 81px);
                }

                @include media-breakpoint-down(md) {
                    min-height: calc(110vh - 72px);
                }

                @include media-breakpoint-down(sm) {
                    min-height: calc(110vh - 63px);
                }

                header {
                    margin-bottom: 3rem;
                }
            }
            // content-container styles END

            // Newsletter styles
            .newsletter-container {
                .editable_content {
                    .status {
                        .radio-container {
                            margin-bottom: .5rem;
                            position: relative;

                            input {
                                border: 5px solid $layout-secondary-color;
                                height: 30px;
                                width: 30px;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                -webkit-appearance: none;

                                &:focus,
                                &:focus-within {
                                    outline: none;
                                }

                                &:checked {
                                    background-color: $primary-gold-color;
                                    border-width: 5px;
                                }
                            }

                            label {
                                display: inline-block;
                                margin-left: 2.5rem;
                                vertical-align: sub;
                            }
                        }
                    }
                }
            }
            // Newsletter styles END

            // info-container styles
            .info-container,
            #unser-angebot {
                overflow-x: hidden;

                .content-container {

                    .image-container {
                        padding: 0;
                        position: relative;
                        overflow: hidden;

                        @include media-breakpoint-down(md) {
                            display: none;
                        }

                        .image {
                            img {
                                width: 220%;
                                height: auto;
                                position: absolute;
                                top: -22px;
                                left: -220px;
                            }
                        }
                    }

                    .text {
                        padding: 9rem;
                        background-color: $layout-primary-color;

                        @include media-breakpoint-down(lg) {
                            padding: 7rem;
                        }

                        @include media-breakpoint-down(xs) {
                            padding: 4rem;
                        }

                        @media (max-width: 530px) {
                            padding: 3rem;
                        }

                        @media (max-width: 400px) {
                            padding: 2rem 1rem;
                        }
                    }
                }

                &.right {
                    .text,
                    .bottom-spacer {
                        @include media-breakpoint-up(sm) {
                            padding-right: 1px;
                        }

                        &:after {
                            content: '';
                            background-color: $layout-primary-color;
                            height: 100%;
                            width: 500px;
                            position: absolute;
                            right: -499px;
                            top: 0;
                        }
                    }
                }

                &.left {
                    .text {
                        padding-left: 1px;

                        @include media-breakpoint-down(md) {
                            padding-bottom: 5rem;
                        }

                        @include media-breakpoint-down(xs) {
                            padding: 4rem;
                        }

                        @media (max-width: 530px) {
                            padding: 3rem;
                        }

                        @media (max-width: 400px) {
                            padding: 2rem 1rem;
                        }

                        &:after {
                            content: '';
                            background-color: $layout-primary-color;
                            height: 100%;
                            width: 500px;
                            position: absolute;
                            left: -499px;
                            top: 0;
                        }
                    }
                }

                &.angebot {
                    .content-container {
                        .text {
                            &:before {
                                content: '';
                                background-color: $layout-primary-color;
                                height: 100%;
                                width: 25%;
                                position: absolute;
                                right: -24%;
                                top: 0;
                            }
                        }
                    }
                }
            }
            // info-container END

            // unser-angebot
            .unser-angebot {
                padding-bottom: 11rem;
                margin-bottom: 0;
                overflow: hidden;

                @include media-breakpoint-down(md) {
                    padding-bottom: 7.5rem;
                }

                @include media-breakpoint-down(xs) {
                    padding-bottom: 0;
                }

                .image-container {
                    max-height: 800px;
                    overflow: hidden;

                    .image {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .content-container {
                    margin-top: -2rem;

                    .angebote {
                        padding: 0 1px;

                        @include media-breakpoint-down(md) {
                            background-color: $layout-primary-color;
                            padding-bottom: 5rem;

                            &:before {
                                content: "";
                                background-color: $layout-primary-color;
                                height: 100%;
                                width: 500px;
                                position: absolute;
                                left: -499px;
                                top: 0;
                            }

                            &:after {
                                content: '';
                                background-color: $layout-primary-color;
                                height: 100%;
                                width: 500px;
                                position: absolute;
                                right: -499px;
                                top: 0;
                             }
                        }

                        @include media-breakpoint-down(xs) {
                            padding: 0 4rem 4rem;
                        }

                        @media (max-width: 530px) {
                            padding: 0 3rem 3rem;
                        }

                        @media (max-width: 400px) {
                            padding: 0 1rem 2rem;
                        }

                        > div {
                            margin-right: 2rem;

                            @include media-breakpoint-down(md) {
                                margin-bottom: 2rem;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .rellax {
                            @include media-breakpoint-up(lg) {
                                &.second {
                                    margin-top: 1rem;
                                }

                                &.third {
                                    margin-top: -1rem;
                                }

                                &.fourth {
                                    margin-top: -1rem;
                                }
                            }
                        }

                        .angebot {
                            background-color: white;
                            border: 2px solid $primary-gold-color;
                            padding: 1.1rem 1.5rem;
                            position: relative;

                            .angebot-text {
                                font-family: ingra-2, sans-serif;
                                font-weight: 400;
                                margin-bottom: 0;

                                p {
                                    margin-bottom: 0;
                                }
                            }

                            .icon-container {
                                background-color: $primary-gold-color;
                                outline: 2px solid $primary-gold-color;
                                display: flex;
                                justify-content: center;
                                height: 100%;
                                width: 2rem;
                                position: absolute;
                                right: -2rem;
                                top: 0;
                                z-index: 10;
                            }
                        }
                    }
                }
            }
            // unser-angebot END

            // Testimonials
            #testimonials {
                ol {
                    margin-bottom: 0;
                }

                .content-container {
                    position: relative;
                    height: 450px;

                    @include media-breakpoint-down(md) {
                        height: 350px;
                    }

                    @media (max-width: 450px) {
                        height: 450px;
                    }

                    @media (max-width: 400px) {
                        height: 570px;
                    }

                    &.coaching {
                        @include media-breakpoint-down(md) {
                            height: 380px;
                        }

                        @include media-breakpoint-down(xs) {
                            height: 430px;
                        }

                        @media (max-width: 430px) {
                            height: 480px;
                        }

                        @media (max-width: 400px) {
                            height: 600px;
                        }
                    }

                    .carousel-control {
                        opacity: 1;
                        width: 5%;

                        @include media-breakpoint-down(md) {
                            display: none;
                        }

                        svg {
                            fill: none;
                            stroke: $primary-gold-color;
                            stroke-linecap: round;
                            stroke-width: 1;
                            height: auto;
                            width: 30px;
                        }
                    }

                    .carousel {
                        height: 100%;

                        .carousel-inner {
                            height: 100%;
                            display: flex;

                            .carousel-item {
                                align-self: center;

                                .card {
                                    border: none;
                                    border-radius: 0;
                                    margin: auto;
                                    width: 85%;

                                    @include media-breakpoint-down(md) {
                                        width: 96%;
                                    }

                                    @include media-breakpoint-only(xs) {
                                        width: 90%;
                                    }

                                    .card-body {
                                        -webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
                                        -moz-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
                                        box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
                                        padding: 4rem 8rem;
                                        position: relative;

                                        @include media-breakpoint-down(lg) {
                                            padding: 3rem 6rem;
                                        }

                                        @include media-breakpoint-down(md) {
                                            padding: 3rem 4rem;
                                        }

                                        @media (max-width: 570px) {
                                            padding: 1.8rem 2rem;
                                        }

                                        svg {
                                            fill: $primary-gold-color;
                                            position: absolute;
                                            top: 36%;
                                            left: 3%;
                                            height: auto;
                                            width: 190px;
                                            opacity: 0.15;

                                            @include media-breakpoint-only(lg) {
                                                width: 160px;
                                            }

                                            @include media-breakpoint-down(md) {
                                                top: 43%;
                                                width: 110px;
                                            }

                                            @include media-breakpoint-down(sm) {
                                                top: unset;
                                                bottom: 15%;
                                            }

                                            @media (max-width: 530px) {
                                                display: none;
                                            }
                                        }

                                        .author {
                                            color: $primary-gold-color;
                                            font-family: quiche-sans, sans-serif;
                                            font-size: 1.25rem;
                                            text-align: right;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }

                        .carousel-indicators-custom {
                            bottom: -30px;
                            text-align: center;

                            @media (max-width: 450px) {
                                bottom: 0;
                            }

                            li {
                                display: inline;
                                list-style: none;
                                margin-right: .5rem;

                                box-sizing: unset;
                                flex: unset;
                                width: unset;
                                height: unset;
                                margin-left: unset;
                                text-indent: unset;
                                cursor: pointer;
                                background-color: unset;
                                background-clip: unset;
                                border-top: none;
                                border-bottom: none;
                                opacity: 1;

                                &:after {
                                    content: '';
                                    display: inline-block;
                                    border: 1px solid $primary-gold-color;
                                    border-radius: 100%;
                                    box-shadow: 0 2px 6px 1px rgba(0,0,0,.1);
                                    height: 20px;
                                    width: 20px;

                                    @include transition($transition-base);
                                }

                                &.active {
                                    &:after {
                                        background-color: $primary-gold-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // Testimonials END

            // Unterseite Entry
            #unterseiten-entry {
                #layout-unterseiten {
                    position: relative;

                    &:after {
                        content: '';
                        background-color: $layout-primary-color;
                        height: calc(100vh - 90px); // Height = 100vh - Navigationshöhe pro Viewport
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        z-index: -1;

                        @include media-breakpoint-down(lg) {
                            height: calc(90vh - 81px);
                        }

                        @include media-breakpoint-down(md) {
                            height: calc(85vh - 72px);
                        }

                        @media (max-height: 820px) and (max-width: 1320px) {
                            height: calc(100vh - 72px);
                        }

                        @include media-breakpoint-down(sm) {
                            height: calc(80vh - 63px);
                        }

                        @media (min-height: 930px) and (max-width: 1319.9px){
                            height: calc(60vh - 63px);
                        }

                        @media (max-height: 930px) and (max-width: 1020px) {
                            height: calc(85vh - 63px);
                        }

                        @media (max-height: 700px) and (max-width: 1020px) {
                            height: calc(90vh - 63px);
                        }

                        @media (max-height: 650px) and (max-width: 1020px) {
                            height: calc(100vh - 63px);
                        }

                        @include media-breakpoint-only(xs) {
                            height: 100%;
                        }
                    }

                    .content-container {
                        padding-top: 9rem;

                        @include media-breakpoint-down(md) {
                            padding-top: 4rem;
                        }

                        .entry-text {
                            text-align: center;

                            h2 {
                                margin-bottom: 2rem;

                                @include media-breakpoint-up(lg) {
                                    margin-top: -.5rem;
                                }
                            }

                            .text-container {
                                display: flex;
                                justify-content: center;
                                text-align: left;

                                .text-entry {
                                    text-align: left;
                                    width: 70%;

                                    @include media-breakpoint-down(lg) {
                                        width: 80%;
                                    }

                                    @include media-breakpoint-down(sm) {
                                        width: 90%;
                                    }

                                    @media (max-width: 400px) {
                                        width: 100%;
                                    }
                                }

                                p:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    .image-container {
                        background-color: $layout-secondary-color;
                        margin-top: 7rem;
                        padding-top: 2rem;

                        @include media-breakpoint-down(md) {
                            margin-top: 3rem;
                            padding-bottom: 4rem;
                        }

                        @include media-breakpoint-down(sm) {
                            margin-top: 2rem;
                            padding-top: 4rem;
                            padding-bottom: 3rem;
                        }

                        @include media-breakpoint-down(xs) {
                            padding-bottom: 0;
                        }

                        &:after {
                            content: '';
                            background-color: $white;
                            height: 5rem;
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 2;

                            @media (min-height: 940px) {
                                height: 1rem;
                            }

                            @include media-breakpoint-down(lg) {
                                height: 0;
                            }
                        }

                        &.success {
                            &:after {
                                height: 12rem;

                                @include media-breakpoint-down(lg) {
                                    height: 2rem;
                                }

                                @include media-breakpoint-down(xs) {
                                    height: 0;
                                }
                            }
                        }

                        &.coaching {
                            padding-top: 0;
                            overflow: hidden;

                            &:after {
                                height: 0;
                            }

                            div {
                                display: flex;
                                justify-content: center;
                            }

                            .image {
                                img {
                                    position: relative;
                                    bottom: -60px;
                                    height: 100%;
                                    width: 50%;

                                    @include media-breakpoint-down(md) {
                                        bottom: -120px;
                                        width: 60%;
                                    }

                                    @include media-breakpoint-down(sm) {
                                        width: 70%;
                                    }

                                    @include media-breakpoint-down(xs) {
                                        bottom: -30px;
                                    }
                                }
                            }
                        }

                        .image {
                            display: flex;
                            justify-content: center;
                            margin-top: -2rem;

                            @include media-breakpoint-down(md) {
                                margin-top: -4rem;
                            }

                            @include media-breakpoint-down(sm) {
                                margin-top: -2rem;
                            }

                            @media (min-height: 820px) {
                                margin-top: -2rem;
                            }

                            img {
                                position: relative;
                                z-index: 3;
                            }
                        }
                    }
                }
            }
            // Unterseite Entry END

            // Info Tile Parallax Image
            .dce_infoTileParallaxImage {
                position: relative;

                .images-container {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);

                    @include media-breakpoint-only(xs) {
                        display: none;
                    }

                    .images {
                        position: relative;
                        padding: 0;

                        &.akademie {
                            .image-left {
                                img {
                                    width: 150px;
                                    position: absolute;
                                    left: 20px;
                                    top: 300px;

                                    @include media-breakpoint-down(lg) {
                                        left: 0;
                                    }

                                    @include media-breakpoint-down(md) {
                                        width: 130px;
                                        top: 200px;
                                    }

                                    @include media-breakpoint-down(sm) {
                                        width: 100px;
                                        top: 380px;
                                        left: -30px;
                                    }
                                }
                            }

                            .image-right {
                                img {
                                    width: 350px;
                                    position: absolute;
                                    right: -100px;
                                    top: 80px;

                                    @include media-breakpoint-down(lg) {
                                        width: 250px;
                                        right: -70px;
                                    }

                                    @include media-breakpoint-down(md) {
                                        width: 200px;
                                        top: 50px;
                                    }

                                    @include media-breakpoint-down(sm) {
                                        width: 180px;
                                        top: -50px;
                                        right: -20px;
                                    }
                                }
                            }
                        }

                        &.leistungen {
                            .image-left {
                                img {
                                    width: 310px;
                                    position: absolute;
                                    left: 0;
                                    top: 300px;

                                    @include media-breakpoint-down(lg) {
                                        width: 270px;
                                        top: 360px;
                                    }

                                    @include media-breakpoint-down(md) {
                                        width: 260px;
                                    }

                                    @include media-breakpoint-down(sm) {
                                        width: 260px;
                                    }
                                }
                            }

                            .image-right {
                                img {
                                    width: 250px;
                                    position: absolute;
                                    right: -70px;
                                    top: 80px;

                                    @include media-breakpoint-down(lg) {
                                        width: 200px;
                                    }

                                    @include media-breakpoint-down(sm) {
                                        width: 160px;
                                        right: 70px;
                                        top: 10px;
                                    }
                                }
                            }
                        }

                        &.success {
                            .image-left {
                                img {
                                    position: absolute;

                                    &.overwrite-image {
                                        width: 340px;
                                        left: 20px;
                                        top: 390px;

                                        @include media-breakpoint-down(lg) {
                                            width: 250px;
                                            left: 0;
                                            top: 350px;
                                        }

                                        @include media-breakpoint-down(md) {
                                            width: 200px;
                                        }

                                        @include media-breakpoint-down(sm) {
                                            right: 0;
                                            left: unset;
                                            top: -20px;
                                        }
                                    }
                                }
                            }

                            .image-right {
                                img {
                                    width: 320px;
                                    position: absolute;
                                    right: 90px;
                                    top: 80px;

                                    &.overwrite-image {
                                        width: 160px;
                                        right: -20px;
                                        top: 120px;

                                        @include media-breakpoint-down(lg) {
                                            width: 120px;
                                        }

                                        @include media-breakpoint-down(md) {
                                            width: 100px;
                                        }

                                        @include media-breakpoint-down(sm) {
                                            right: unset;
                                            left: -50px;
                                            top: 170px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.dce_infoTileParallaxImageWhiteBg {
                    .content-container {
                        .text {
                            &.white-bg {
                                background-color: $white;
                                padding-right: 15px;

                                @include media-breakpoint-down(sm) {
                                    padding-right: 7rem;
                                }

                                @include media-breakpoint-down(xs) {
                                    padding-right: 4rem;
                                }

                                @media (max-width: 530px) {
                                    padding-right: 3rem;
                                }

                                &:after {
                                    background-color: $white;
                                }

                                .content-text {
                                    position: relative;
                                    z-index: 1;
                                }
                            }
                        }
                    }

                    .images-container {
                        @include media-breakpoint-only(xs) {
                            display: none;
                        }

                        .images {
                            &.akademie {
                                .image-left {
                                    img {
                                        width: 270px;
                                        position: absolute;
                                        left: 20px;
                                        top: 390px;
                                        z-index: 5;

                                        @include media-breakpoint-down(lg) {
                                            width: 220px;
                                            left: 0;
                                            top: 350px;
                                        }

                                        @include media-breakpoint-down(md) {
                                            top: 190px;
                                        }

                                        @include media-breakpoint-down(sm) {
                                            left: unset;
                                            top: -60px;
                                            right: 40px;
                                        }
                                    }
                                }

                                .image-right {
                                    img {
                                        width: 350px;
                                        position: absolute;
                                        right: -10px;
                                        top: 480px;

                                        @include media-breakpoint-down(lg) {
                                            width: 290px;
                                            right: -30px;
                                            top: 430px;
                                        }

                                        @include media-breakpoint-down(md) {
                                            top: 310px;
                                        }

                                        @include media-breakpoint-down(sm) {
                                            top: 550px;
                                        }
                                    }
                                }
                            }

                            &.leistungen {
                                .image-left {
                                    img {
                                        width: 210px;
                                        position: absolute;
                                        top: 140px;
                                        left: -10px;

                                        @include media-breakpoint-down(lg) {
                                            width: 160px;
                                            top: 50px;
                                            left: -30px;
                                        }

                                        @include media-breakpoint-down(md) {
                                            width: 160px;
                                            top: 20px;
                                            left: -40px;
                                        }

                                        @include media-breakpoint-down(sm) {
                                            width: 140px;
                                            top: 30px;
                                            left: 290px;
                                        }
                                    }
                                }

                                .image-right {
                                    img {
                                        width: 300px;
                                        position: absolute;
                                        right: 0;
                                        top: 180px;

                                        @include media-breakpoint-down(lg) {
                                            width: 270px;
                                        }

                                        @include media-breakpoint-down(md) {
                                            width: 230px;
                                            top: 150px;
                                        }

                                        @include media-breakpoint-down(sm) {
                                            width: 160px;
                                            top: 350px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.dce_infoTileAdditionalInfoRight {
                    overflow-x: hidden;

                    .content-container {
                        .text {
                            &.white-bg {
                                padding-right: 5rem;
                            }
                        }
                    }

                    .additionalinfo-container {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &:after {
                            content: "";
                            background-color: #EBE6CF;
                            height: 100%;
                            width: 500px;
                            position: absolute;
                            right: -499px;
                            top: 0;
                        }

                        .additionalinfo {
                            background-color: $layout-primary-color;
                            padding-right: 1px;

                            .aligner {
                                align-items: center;
                                display: flex;
                                height: 100%;
                                justify-content: flex-end;

                                .spacer {
                                    margin-bottom: 2rem;

                                    .info {
                                        display: table-cell;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        h5 {
                                            display: inline-block;
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // Info Tile Parallax Image END

            // Info Tile Parallax Quote
            .dce_infoTileParallaxQuote {
                &.page-404 {
                    min-height: 70vh;
                }

                .content-container {
                    .quotes {
                        overflow: hidden;
                        position: relative;
                        padding: 0 1px 0 0;

                        @include media-breakpoint-down(sm) {
                            display: none;
                        }

                        .quote-container {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);

                            svg {
                                fill: $primary-gold-color;
                                position: absolute;
                                bottom: -50px;
                                left: -190px;
                                height: auto;
                                width: 260px;
                                opacity: 0.15;

                                @include media-breakpoint-down(lg) {
                                    bottom: -10px;
                                    left: -120px;
                                    width: 190px;
                                }

                                @include media-breakpoint-down(md) {
                                    bottom: 0;
                                    left: -60px;
                                    width: 150px;
                                }
                            }

                            .quoteIter-2 {
                                margin-left: 2rem;
                            }

                            .quoteIter-3 {
                                margin-left: 1rem;
                            }

                            .quoteIter-4 {
                                margin-left: 6rem;
                            }

                            p {
                                color: $primary-gold-color;
                                font-family: ingra-2, sans-serif;
                                font-size: 3rem;
                                font-weight: 200;
                                line-height: 1.2em;
                                text-transform: uppercase;
                                margin-bottom: 0;
                                letter-spacing: .15em;

                                @include media-breakpoint-only(md) {
                                    font-size: 2.5rem;
                                }

                                &.quoteBold {
                                    font-family: Ingra, sans-serif;
                                    font-weight: 200;
                                }
                            }
                        }
                    }
                }

                &.right {
                    .quotes {
                        .quote-container {
                            right: unset;
                            left: 10%;

                            svg {
                                bottom: unset;
                                left: unset;
                                top: -110px;
                                right: -110px;

                                @include media-breakpoint-down(md) {
                                    top: -40px;
                                    right: 0;
                                }
                            }

                            .quoteIter-2 {
                                margin-left: 4rem;
                            }

                            .quoteIter-3 {
                                margin-left: 2rem;
                            }

                            .quoteIter-4 {
                                margin-left: 8rem;
                            }
                        }
                    }
                }

                &.home {
                    .quotes {
                        .quote-container {
                            svg {
                                @include media-breakpoint-down(lg) {
                                    left: -60px;
                                }

                                @include media-breakpoint-down(md) {
                                    bottom: -40px;
                                    left: -40px;
                                }
                            }
                        }
                    }
                }

                &.akademie {
                    .quotes {
                        .quote-container {
                            svg {
                                @include media-breakpoint-down(lg) {
                                    top: -50px;
                                    right: 0;
                                }
                            }
                        }
                    }
                }

                &.leistungen {
                    .quotes {
                        .quote-container {
                            svg {
                                @include media-breakpoint-down(lg) {
                                    bottom: 0;
                                    left: -80px;
                                }

                                @include media-breakpoint-down(md) {
                                    bottom: -30px;
                                    left: -60px;
                                }
                            }
                        }
                    }
                }

                &.success {
                    .quotes {
                        .quote-container {
                            svg {
                                @include media-breakpoint-down(lg) {
                                    left: -70px;
                                }
                            }
                        }
                    }
                }

                &.coaching {
                    .quotes {
                        .quote-container {
                            right: unset;
                            left: 30px;

                            svg {
                                bottom: -80px;
                                right: 20px;
                                left: unset;
                                width: 200px;

                                @include media-breakpoint-down(lg) {
                                    bottom: -60px;
                                    width: 190px;
                                }

                                @include media-breakpoint-down(md) {
                                    bottom: -60px;
                                    right: 0;
                                }
                            }

                            p {
                                @include media-breakpoint-down(md) {
                                    font-size: 2.3rem;
                                }
                            }
                        }
                    }
                }

                &.inci-check {
                    .quotes {
                        .quote-container {
                            svg {
                                @include media-breakpoint-down(lg) {
                                    bottom: 20px;
                                    left: -40px;
                                }

                                @include media-breakpoint-down(md) {
                                    bottom: -10px;
                                    left: -30px;
                                }
                            }
                        }
                    }
                }
            }
            // Info Tile Parallax Quote END

            // Profil
            .dce_Profil {
                @include media-breakpoint-down(sm) {
                    background-color: $layout-primary-color;
                }

                .content-container {
                    .profile-image {
                        background-color: $layout-primary-color;
                        padding-top: 9rem;

                        @include media-breakpoint-down(lg) {
                            padding-top: 7rem;
                        }

                        @include media-breakpoint-up(sm) {
                            padding-left: 1px;
                        }

                        @include media-breakpoint-only(sm) {
                            padding: 7rem 1px 2rem;
                        }

                        @include media-breakpoint-only(xs) {
                            padding-top: 4rem;
                            padding-left: 4rem;
                            padding-bottom: 1rem;
                        }

                        @media (max-width: 530px) {
                            padding-top: 3rem;
                            padding-left: 3rem;
                            flex: 0 0 66.6666666667%;
                            max-width: 66.6666666667%;
                        }

                        @media (max-width: 400px) {
                            padding: 2rem 1rem 1rem;
                            flex: 0 0 66.6666666667%;
                            max-width: 66.6666666667%;
                        }

                        &:after {
                            content: "";
                            background-color: $layout-primary-color;
                            height: 100%;
                            width: 500px;
                            position: absolute;
                            left: -499px;
                            top: 0;
                        }

                        .profilbild {
                            margin-bottom: 1rem;
                        }
                    }

                    .text {
                        padding-left: 3rem;

                        @include media-breakpoint-only(sm) {
                            padding: 0 1px 7rem;
                        }

                        @include media-breakpoint-only(xs) {
                            padding: 0 4rem 4rem;
                        }

                        @media (max-width: 530px) {
                            padding: 0 3rem 3rem;
                        }

                        @media (max-width: 400px) {
                            padding: 0 1rem 2rem;
                        }

                        &:after {
                            content: none;
                        }

                        .content-text {
                            h4 {
                                margin-bottom: 2rem;
                            }

                            .unterschrift {
                                width: 260px;
                            }
                        }
                    }
                }
            }
            // Profil END

            // magazin-mockup
            .magazin-mockup {
                .content-container {
                    background-color: $layout-primary-color;
                    padding: 9rem 9rem 16rem;

                    @include media-breakpoint-down(lg) {
                        padding: 7rem 7rem 16rem;
                    }

                    @include media-breakpoint-only(xs) {
                        padding: 4rem 4rem 13rem;
                    }

                    @media (max-width: 530px) {
                        padding: 3rem;
                    }

                    @media (max-width: 400px) {
                        padding: 2rem 1rem;
                    }
                }

                .image-container {
                    margin-top: -13rem;
                    padding: 0 9rem;

                    @include media-breakpoint-down(lg) {
                        padding: 0 7rem;
                    }

                    @include media-breakpoint-down(md) {
                        padding: 0 2rem;
                    }

                    @include media-breakpoint-only(xs) {
                        margin-top: -11rem;
                        padding: 0 4rem;
                    }

                    @media (max-width: 530px) {
                        display: none;
                    }

                    .image {
                        display: flex;
                        justify-content: center;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
            // magazin-mockup END

            // Bundles
            .dce_bundles {
                .content-container {
                    .bundle-spacer {
                        @include media-breakpoint-down(sm) {
                            margin-bottom: 4rem;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        @include media-breakpoint-only(sm) {
                            padding: 0 1px;
                        }

                        @include media-breakpoint-down(xs) {
                            margin-bottom: 3rem;
                            padding: 0 4rem;
                        }

                        @media (max-width: 530px) {
                            padding: 0 3rem;
                        }

                        @media (max-width: 400px) {
                            padding: 0 1rem;
                        }
                    }

                    .bundle {
                        border: 1px solid $primary-gold-color;
                        box-shadow: 0 6px 12px rgba(0,0,0,0.1);
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-content: space-between;
                        margin: 0 2rem;
                        overflow-x: hidden;
                        padding: 2rem;
                        position: relative;
                        text-align: center;


                        @include media-breakpoint-down(lg) {
                            margin: 0;
                            padding: 2rem 1rem;
                        }

                        .bestseller {
                            &:before {
                                content: 'Premium';
                                background-color: $primary-gold-color;
                                color: $white;
                                display: inline-block;
                                font-size: 1rem;
                                width: 230px;
                                height: 31px;
                                position: absolute;
                                top: 40px;
                                left: -80px;
                                transform: rotate(-60deg);

                                @include media-breakpoint-down(lg) {
                                    width: 180px;
                                    height: 28px;
                                    top: 30px;
                                    left: -60px;
                                }

                                @include media-breakpoint-only(md) {
                                    width: 160px;
                                    height: 21px;
                                    top: 25px;
                                    left: -56px;
                                    font-size: .9rem;
                                }

                                @include media-breakpoint-down(sm) {
                                    font-size: 1.2rem;
                                    width: 190px;
                                    height: 28px;
                                    top: 35px;
                                    left: -62px;
                                }
                            }
                        }

                        .bundle-name {
                            font-family: quiche-sans, sans-serif;
                            font-size: 1.7rem;
                            font-weight: 600;
                            color: $primary-gold-color;
                        }

                        .bundle-price-tax {
                            margin-bottom: 4rem;

                            .bundle-price-container {
                                display: inline-block;
                                position: relative;

                                .bundle-price {
                                    font-family: quiche-sans, sans-serif;
                                    font-size: 4rem;
                                    font-weight: 600;
                                    color: $secondary-grey-color;
                                    line-height: 1em;
                                    margin-bottom: 0;
                                }

                                .bundle-tax {
                                    font-family: Ingra, sans-serif;
                                    font-size: 1rem;
                                    font-weight: 300;
                                    text-align: right;
                                    position: absolute;
                                    right: 0;
                                    bottom: -30px;
                                }
                            }
                        }


                        .benefits-container {
                            margin-bottom: 2rem;

                            p {
                                margin: 1rem 0;

                                @include media-breakpoint-down(md) {
                                    margin: .5rem 0;
                                }

                                &:after {
                                    content: '';
                                    display: inline-block;
                                    width: 100%;
                                    height: 1px;
                                    background-color: $light-grey;

                                    @include media-breakpoint-down(sm) {
                                        width: 80%;
                                    }
                                }

                                &:last-child {
                                    margin-bottom: 0;

                                    &:after {
                                        content: none;
                                    }
                                }
                            }
                        }

                        .info-text {
                            margin-bottom: 2rem;

                            @include media-breakpoint-only(md) {
                                hyphens: auto;
                            }

                            p {
                                color: $primary-gold-color;
                                margin-bottom: 0;
                            }
                        }

                        .button-container {
                            margin: 0.5rem 0;

                            a {
                                background-color: $primary-gold-color;
                                border: 1px solid $primary-gold-color;
                                color: white;
                                font-weight: 200;
                                padding: .5rem 2rem;

                                @include transition($transition-base);

                                &:hover {
                                    color: $primary-gold-color;
                                    background-color: transparent;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            // Bundles END

            // Leseprobe
            .dce_Leseprobe {
                .content-container {
                    .text {
                        padding-left: 0;

                        @include media-breakpoint-down(xs) {
                            padding-left: 4rem;
                        }

                        @media (max-width: 530px) {
                            padding-left: 3rem;
                        }

                        @media (max-width: 400px) {
                            padding: 0 1rem;
                        }
                    }

                    .images-section {
                        margin-top: 2rem;

                        .fancybox {
                            &:focus,
                            &:focus-within {
                                outline: none;
                            }
                        }
                    }
                }
            }
            // Leseprobe END

            // Info Tile Overhang Text
            .dce_infoTileOverhangText {
                @include media-breakpoint-down(sm) {
                    background-color: $layout-primary-color;
                }

                .info-container {
                    .content-container {
                        .info-row {
                            .text {
                                padding-bottom: 0;

                                @include media-breakpoint-only(sm) {
                                    padding-left: 1px;
                                }

                                .content-text {
                                    @include media-breakpoint-only(md) {
                                        h3 {
                                            font-size: 2.5rem;
                                        }
                                    }
                                }
                            }
                        }

                        .procedure-row {
                            position: relative;

                            .arrow-container {
                                position: absolute;
                                top: 0;
                                left: 450px;
                                z-index: 5;

                                @include media-breakpoint-down(lg) {
                                    left: 420px;
                                }

                                @include media-breakpoint-down(md) {
                                    left: 315px;
                                }

                                @include media-breakpoint-down(sm) {
                                    display: none;
                                }

                                svg {
                                    fill: $primary-gold-color;
                                }
                            }

                            .procedure-container {
                                border-bottom: 1px solid $primary-gold-color;

                                &:after {
                                    content: '';
                                    height: 2px;
                                    width: 100%;
                                    background-color: $layout-primary-color;
                                    position: absolute;
                                    right: -100%;
                                    bottom: -2px;
                                }
                            }

                            @include media-breakpoint-up(md) {
                                .procedure-container:first-child {
                                    .procedure-left-content,
                                    .procedure-right-content {
                                        padding-top: 0;
                                    }
                                }
                            }

                            .procedure-left-content,
                            .procedure-right-content {
                                padding-top: 3rem;
                                padding-right: 1px;
                                padding-bottom: 1rem;

                                @include media-breakpoint-only(sm) {
                                    padding-left: 15px;
                                    padding-right: 15px;
                                }

                                p {
                                    @media (max-width: 530px) {
                                        hyphens: auto;
                                    }
                                }
                            }

                            .procedure-right-content {
                                @include media-breakpoint-only(xs) {
                                    padding-right: 4rem;
                                    padding-left: 15px;
                                }

                                @media (max-width: 530px) {
                                    padding-right: 3rem;
                                }

                                @media (max-width: 400px) {
                                    padding-right: 1rem;
                                }

                                .content-text {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-content: flex-end;
                                    height: 100%;

                                    p {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            .procedure-left-content {
                                @include media-breakpoint-only(xs) {
                                    padding-right: 15px;
                                    padding-left: 4rem;
                                }

                                @media (max-width: 530px) {
                                    padding-left: 3rem;
                                }

                                @media (max-width: 400px) {
                                    padding-left: 1rem;
                                }

                                .content-text {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-content: flex-end;
                                    height: 100%;
                                }

                                .procedure-number {
                                    font-family: quiche-sans, sans-serif;
                                    font-size: 1.5rem;
                                    font-weight: bold;
                                    margin-bottom: 0;
                                    width: 100%;

                                    @include media-breakpoint-down(xs) {
                                        font-size: 1.2rem;
                                    }
                                }

                                .procedure-title {
                                    color: $primary-gold-color;
                                    font-family: ingra-2, sans-serif;
                                    font-size: 2.5rem;
                                    font-weight: 300;
                                    line-height: 1;
                                    margin-bottom: 0;

                                    @include media-breakpoint-down(xs) {
                                        font-size: 2rem;
                                    }

                                    @media (max-width: 530px) {
                                        font-size: 1.5rem;
                                    }
                                }
                            }

                            .bottom-spacer-white {
                                background-color: $white;
                                padding-bottom: 9rem;
                                position: relative;
                                z-index: 5;

                                @include media-breakpoint-down(lg) {
                                    padding-bottom: 7rem;
                                }

                                @include media-breakpoint-down(sm) {
                                    background-color: $layout-primary-color;
                                }

                                @include media-breakpoint-down(xs) {
                                    padding-bottom: 4rem;
                                }

                                @media (max-width: 530px) {
                                    padding-bottom: 3rem;
                                }

                                @media (max-width: 400px) {
                                    padding-bottom: 2rem;
                                }
                            }

                            .bottom-spacer-gold {
                                background-color: $layout-primary-color;
                                padding-bottom: 9rem;
                                position: relative;
                                z-index: 5;

                                @include media-breakpoint-down(lg) {
                                    padding-bottom: 7rem;
                                }

                                @include media-breakpoint-down(xs) {
                                    padding-bottom: 4rem;
                                }

                                @media (max-width: 530px) {
                                    padding-bottom: 3rem;
                                }

                                @media (max-width: 400px) {
                                    padding-bottom: 2rem;
                                }

                                &:after {
                                    content: "";
                                    background-color: #FAF8EF;
                                    height: 100%;
                                    width: 500px;
                                    position: absolute;
                                    right: -499px;
                                    top: 0;
                                }
                            }
                        }
                    }
                }
            }
            // Info Tile Overhang Text END

            // ContactSectionButton
            .dce_ContactSectionButton {
                @include media-breakpoint-down(sm) {
                    background-color: $layout-primary-color;
                }

                .info-container {
                    .content-container {
                        .text {
                            @include media-breakpoint-only(sm) {
                                padding: 7rem 1px;
                            }

                            .content-text {
                                text-align: center;

                                p {
                                    display: inline-block;
                                    margin-bottom: .5rem;
                                    width: 80%;

                                    @include media-breakpoint-down(lg) {
                                        width: 90%;
                                    }

                                    @include media-breakpoint-down(sm) {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // ContactSectionButton END

            // InfoTileImageParallaxWoman
            .dce_InfoTileImageParallaxWoman {
                overflow: hidden;

                .content-container {
                    .image-container {
                        background-color: $layout-primary-color;
                        overflow: visible;

                        .image {
                            position: relative;
                            height: 100%;

                            img {
                                position: absolute;
                                width: 75%;
                                top: unset;
                                bottom: -920px;
                                left: -55px;
                                right: unset;
                                z-index: 5;

                                @include media-breakpoint-only(lg) {
                                    bottom: -800px;
                                    width: 85%;
                                }
                            }
                        }
                    }
                }
            }
            // InfoTileImageParallaxWoman END
        }
        // MainContent Styles END
    }
}
