html {
    body {
        .cc-revoke.dp--revoke {
            margin: 0;

            &:hover {
                opacity: 1;
            }
        }

        .cc-window {
            background-color: rgba($primary-gold-color, .8) !important;
            margin-right: 1rem !important;
        }

        .cc-left {
            left: 1rem !important;
        }

        .cc-bottom {
            bottom: 1rem !important;
        }

        .cc-message {
            font-family: ingra, sans-serif;

            .dp--cookie-check {
                border-radius: 0;

                label {
                    #dp--cookie-require {
                        &:checked {
                            opacity: .6;
                        }
                    }

                    input {
                        background-color: transparent;
                        border: 1px solid $white;
                        border-radius: 0;
                        height: 12px;
                        width: 12px;
                        position: relative;
                        -webkit-appearance: unset;

                        &:checked {
                            background-color: $white;

                            &:before {
                                content: '';
                                background-color: $secondary-grey-color;
                                height: 3px;
                                width: 6px;
                                position: absolute;
                                top: 5px;
                                left: 0;
                                transform: rotate(36deg);
                            }

                            &:after {
                                content: '';
                                background-color: $secondary-grey-color;
                                height: 3px;
                                width: 9px;
                                position: absolute;
                                top: 4px;
                                left: 2px;
                                transform: rotate(-53deg);
                            }
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

        .cc-compliance {
            a.cc-btn {
                font-family: ingra, sans-serif;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}
