html {
    body {
        #mainContent {
            .tx-powermail {
                margin-bottom: 7.5rem;

                @include media-breakpoint-down(xs) {
                    margin-bottom: 3rem;
                }

                .info-container {
                    .powermail_message_error {
                        margin-bottom: 0;
                    }

                    .powermail_fieldset {
                        padding: 0;

                        &.powermail_fieldset_3 {
                            margin-top: 2rem;
                        }

                        legend {
                            font-family: quiche-sans, sans-serif;
                            padding-top: 2rem;

                            &.no-label {
                                display: none;
                            }
                        }

                        .bold-label {
                            .powermail_label {
                                font-weight: 500;
                            }
                        }

                        .powermail_fieldwrap {
                            margin-bottom: 1rem;

                            &.powermail_fieldwrap_anrede {
                                .powermail_field {
                                    .radio:first-child {
                                        label {
                                            margin-bottom: .5rem;
                                        }
                                    }

                                    .radio {
                                        label {
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }

                            .powermail_field {
                                &.input-field,
                                &.select-field {
                                    input,
                                    select {
                                        width: 100%;
                                    }
                                }

                                textarea {
                                    min-height: 100px;
                                    width: 100%;
                                }

                                input,
                                select,
                                textarea {
                                    background-color: $layout-secondary-color;
                                    color: $secondary-grey-color;
                                    border: 2px solid $primary-gold-color;
                                    border-radius: 0;
                                    padding: .3rem .5rem;
                                    -webkit-appearance: none;

                                    @include transition($transition-base);

                                    &:focus {
                                        outline: none;
                                        background-color: $white;
                                    }
                                }

                                .selectfield-container {
                                    display: inline-block;
                                    position: relative;

                                    select {
                                        position: relative;
                                        background-image: url("../../Icons/icon-arrow-down-grey.svg");
                                        background-repeat: no-repeat;
                                        background-position: 215px;
                                        width: 250px;

                                        @include media-breakpoint-down(sm) {
                                            background-position: 154px;
                                            background-size: 15px;
                                            width: 180px;
                                        }

                                        &:after {
                                            content: url("../../Icons/icon-arrow-down.svg");
                                            display: inline-block;
                                            width: 20px;
                                            height: 10px;
                                            position: absolute;
                                            top: 50%;
                                            right: 15px;
                                            transform: translateY(-50%);
                                        }
                                    }

                                    //svg {
                                    //    fill: none;
                                    //    stroke: $secondary-grey-color;
                                    //    stroke-width: 3;
                                    //    stroke-linecap: round;
                                    //    stroke-linejoin: round;
                                    //    position: absolute;
                                    //    right: 15px;
                                    //    top: 24px;
                                    //    width: 15px;
                                    //    transform: translateY(-50%);
                                    //
                                    //    @include media-breakpoint-down(lg) {
                                    //        top: 21px;
                                    //    }
                                    //
                                    //    @include media-breakpoint-down(md) {
                                    //        top: 19px;
                                    //    }
                                    //
                                    //    @include media-breakpoint-down(sm) {
                                    //        top: 18px;
                                    //        width: 10px;
                                    //    }
                                    //}
                                }

                                .button-container {
                                    margin-top: 0;
                                }

                                input.powermail_radio,
                                input.powermail_checkbox {
                                    background-color: $layout-secondary-color;
                                    border: 2px solid $primary-gold-color;
                                    border-radius: 0;
                                    height: 24px;
                                    width: 24px;
                                    margin-right: .5rem;
                                    padding: 0;
                                    position: relative;
                                    -webkit-appearance: unset;

                                    @include transition($transition-base);

                                    &:checked {
                                        background-color: $white;

                                        &:before {
                                            content: '';
                                            background-color: $secondary-grey-color;
                                            height: 4px;
                                            width: 8px;
                                            position: absolute;
                                            top: 11px;
                                            left: 3px;
                                            transform: rotate(36deg);
                                        }

                                        &:after {
                                            content: '';
                                            background-color: $secondary-grey-color;
                                            height: 4px;
                                            width: 14px;
                                            position: absolute;
                                            top: 8px;
                                            left: 5px;
                                            transform: rotate(-53deg);
                                        }

                                        //&:after {
                                        //    content: '';
                                        //    background-color: $secondary-grey-color;
                                        //    height: 10px;
                                        //    width: 10px;
                                        //    border-radius: 100%;
                                        //    position: absolute;
                                        //    top: 50%;
                                        //    left: 50%;
                                        //    transform: translate(-50%, -50%);
                                        //}
                                    }
                                }

                                .radio-label,
                                .checkbox-label {
                                    display: inline;
                                    line-height: 1;
                                    vertical-align: text-top;
                                }
                            }
                        }
                    }

                    // Submit Page
                    .content-container {
                        .powermail_all_marker_e_mail {
                            @media (max-width: 530px) {
                                word-break: break-word;
                            }
                        }
                    }
                }
            }
        }
        // MainContent Styles END
    }
}
