<f:layout name="Default" />

<f:section name="Main">
    <section id="mainContent" class="default">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
    </section>
</f:section>
