<f:layout name="Default" />
<f:section name="Main">
    <section id="mainContent" class="inverse">
        <div class="top-background"></div>
        <div id="layout-start">
            <div class="container entry-container main-container{f:if(condition: '{data.uid}==14 || {data.uid}==15 || {data.uid}==16 || {data.uid}==17 || {data.uid}==18 || {data.uid}==19 || {data.uid}==20 || {data.uid}==21 || {data.uid}==22', then: ' newsletter-container')}{f:if(condition: '{data.uid}==10 || {data.uid}==11 || {data.uid}==12', then: ' impressum-datenschutz-container')}">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
            </div>
        </div>
    </section>
</f:section>
