<f:layout name="Startseite" />

<f:section name="Main">
    <section id="mainContent">
        <f:render partial="EntryHome" />

        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
    </section>

</f:section>
