{namespace vh=In2code\Powermail\ViewHelpers}

<div class="{f:if(condition: '{field.css} == \'col\'', then: 'col')}{f:if(condition: '{field.css} == \'col-6\'', then: 'col-12 col-md-6')}{f:if(condition: '{field.css} == \'col-12\'', then: 'col-12')}{f:if(condition: '{field.css} == \'col-6no-label\'', then: 'col-12 col-md-6 no-label')}{f:if(condition: '{field.css} == \'col-12no-label\'', then: 'col-12 no-label')} powermail_fieldwrap powermail_fieldwrap_type_input powermail_fieldwrap_{field.marker} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<div class="{settings.styles.framework.fieldWrappingClasses} input-field">
		<f:form.textfield
				type="{vh:validation.fieldTypeFromValidation(field:field)}"
				property="{field.marker}"
				placeholder="{field.placeholder}"
				value="{vh:misc.prefillField(field:field, mail:mail)}"
				class="powermail_input {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
				additionalAttributes="{vh:validation.validationDataAttribute(field:field)}"
				id="powermail_field_{field.marker}" />
	</div>
</div>
