{namespace vh=In2code\Powermail\ViewHelpers}

<div class="{f:if(condition: '{field.css} == \'col\'', then: 'col')}{f:if(condition: '{field.css} == \'col-6\'', then: 'col-12 col-md-6')}{f:if(condition: '{field.css} == \'col-12\'', then: 'col-12')}{f:if(condition: '{field.css} == \'col-6no-label\'', then: 'col-12 col-md-6 no-label')}{f:if(condition: '{field.css} == \'col-12no-label\'', then: 'col-12 no-label')}{f:if(condition: '{field.css} == \'col-12bold-label\'', then: 'col-12 bold-label')} powermail_fieldwrap powermail_fieldwrap_type_radio powermail_fieldwrap_{field.marker} {settings.styles.framework.fieldAndLabelWrappingClasses}">

    <f:render partial="Form/FieldLabel" arguments="{_all}" />

	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<f:for each="{field.modifiedSettings}" as="setting" iteration="index">
			<div class="{settings.styles.framework.radioClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}">
				<label>
					<f:form.radio
							property="{field.marker}"
							value="{setting.value}"
							checked="{vh:misc.prefillMultiField(field:field, mail:mail, cycle:index.cycle)}"
							id="powermail_field_{field.marker}_{index.cycle}"
							additionalAttributes="{vh:validation.validationDataAttribute(field:field, iteration:index)}"
							class="powermail_radio" />
					<span class="radio-label">
                        <vh:string.escapeLabels>{setting.label}</vh:string.escapeLabels>
                    </span>
				</label>
			</div>
		</f:for>

		<f:if condition="{settings.validation.client}">
			<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
		</f:if>
	</div>
</div>
