{namespace vh=In2code\Powermail\ViewHelpers}

<div class="{f:if(condition: '{field.css} == \'col\'', then: 'col')}{f:if(condition: '{field.css} == \'col-6\'', then: 'col-12 col-md-6')}{f:if(condition: '{field.css} == \'col-12\'', then: 'col-12')}{f:if(condition: '{field.css} == \'col-6no-label\'', then: 'col-12 col-md-6 no-label')}{f:if(condition: '{field.css} == \'col-12no-label\'', then: 'col-12 no-label')} powermail_fieldwrap powermail_fieldwrap_type_select powermail_fieldwrap_{field.marker} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<div class="{settings.styles.framework.fieldWrappingClasses} {f:if(condition: '{field.css} == \'col-6\'', then: 'select-field')}{f:if(condition: '{field.css} == \'col-12\'', then: 'select-field')}">
        <div class="selectfield-container">
            <vh:form.selectField
                    options="{field.modifiedSettings}"
                    property="{field.marker}"
                    class="powermail_select {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
                    id="powermail_field_{field.marker}"
                    additionalAttributes="{vh:validation.validationDataAttribute(field:field)}"
                    multiple="{field.multiselectForField}"
                    value="{vh:misc.prefillField(field:field, mail:mail)}" />

        </div>

        <f:if condition="{field.multiselect}">
			<f:if condition="{settings.validation.client}">
				<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
			</f:if>
		</f:if>
	</div>
</div>
