<div class="powermail_fieldwrap powermail_fieldwrap_type_submit powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
        <div class="button-container">
            <span class="button small" onclick="field.submit()">
                <span>{field.title}</span>
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
            </span>
        </div>
	</div>
</div>
