<div class="{f:if(condition: '{field.css} == \'col\'', then: 'col')}{f:if(condition: '{field.css} == \'col-6\'', then: 'col-12 col-md-6')}{f:if(condition: '{field.css} == \'col-12\'', then: 'col-12')}{f:if(condition: '{field.css} == \'col-6no-label\'', then: 'col-12 col-md-6 no-label')}{f:if(condition: '{field.css} == \'col-12no-label\'', then: 'col-12 no-label')} powermail_fieldwrap powermail_fieldwrap_type_text powermail_fieldwrap_{field.marker} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<div class="{settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
		<f:format.nl2br>{field.text}</f:format.nl2br>
	</div>
</div>
