<div id="backToTop" class="scrollBackToTop">
    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="10.7px" viewBox="0 0 20 10.7" style="enable-background:new 0 0 20 10.7;" xml:space="preserve">
        <path id="Pfad_36" class="st0" d="M1.5,9.2L10,1.5l8.5,7.7"/>
    </svg>
</div>
