<div class="top-background"></div>
<section id="entryHome">
    <div id="layout-start">
        <div class="container entry-container">
            <div class="content">
                <div class="image-logo">
                    <f:image src="EXT:kosmetik_akademie_engel/Resources/Public/Images/kosmetik-akademie-engel_logo.svg" class="img-fluid" title="Kosmetik Akademie Engel Logo" width="225" />
                </div>
                <div class="text">
                    <h1 class="entry">Kosmetik-<br>fachwissen</h1>
                    <h2 class="entry">für Kosmetikinstitute & Interessierte!</h2>
                </div>
            </div>
        </div>
        <div class="image-container">
            <div class="image">
                <f:image src="EXT:kosmetik_akademie_engel/Resources/Public/Images/iStock-1125289773_freigestellt-tinypng.png" class="img-fluid rellax-entry" width="700" />
            </div>
        </div>
    </div>
</section>
