<section class="dce_bundles">
    <div class="content-container">
        <div class="container">
            <div class="row">
                <f:for each="{field.bundles}" as="bundle">
                    <div class="col-12 col-md-4 bundle-spacer">
                        <div class="bundle">
                            <f:if condition="{bundle.markBestSeller}==1">
                                <div class="bestseller"></div>
                            </f:if>
                            <div class="bundle-infos">
                                <p class="bundle-name">{bundle.bundleName}</p>
                                <div class="bundle-price-tax">
                                    <div class="bundle-price-container">
                                        <span class="bundle-price">{bundle.bundlePrice}</span>
                                        <span class="bundle-tax">zzgl. MwSt.</span>
                                    </div>
                                </div>
                                <div class="benefits-container">
                                    <f:format.raw>{bundle.bundleBenefits}</f:format.raw>
                                </div>
                                <div class="info-text">
                                    <f:format.raw>{bundle.bundleInfotext}</f:format.raw>
                                </div>
                            </div>
                            <div class="button-container">
                                <f:if condition="{bundle.overwriteButtonText} != ''">
                                    <f:then>
                                        <f:link.typolink parameter="{bundle.bundleButtonLink}">
                                            {bundle.overwriteButtonText}
                                        </f:link.typolink>
                                    </f:then>
                                    <f:else>
                                        <f:link.typolink parameter="{bundle.bundleButtonLink}">
                                            Jetzt bestellen!
                                        </f:link.typolink>
                                    </f:else>
                                </f:if>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </div>
    </div>
</section>
