<section class="dce_ContactSectionButton">
    <div class="info-container">
        <div class="container content-container">
            <div class="row">
                <div class="col-12 text">
                    <div class="content-text">
                        <h3>{field.tileTitle}</h3>
                        <h4>{field.tileSubtitle}</h4>
                        <f:format.raw>{field.tileCopytext}</f:format.raw>
                        <f:if condition="{field.tileLinkPage}!= ''">
                            <div class="button-container">
                                <f:link.typolink parameter="{field.tileLinkPage}" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                    <span>{field.tileButtonText}</span>
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                    </svg>
                                </f:link.typolink>
                            </div>
                        </f:if>
                        <f:if condition="{field.externalLink}!= ''">
                            <div class="button-container">
                                <a href="{field.externalLink}" target="_blank" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                    <span>{field.tileButtonText}</span>
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                    </svg>
                                </a>
                            </div>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
