<section class="dce_infoTileOverhangText right">
    <div class="info-container right">
        <div class="container content-container">
            <div class="row info-row">
                <div class="col-12 col-md-7 col-xl-8 offset-md-5 offset-xl-4 text">
                    <div class="content-text">
                        <h3><f:format.raw><f:format.stripTags allowedTags="<br>">{field.tileTitle}</f:format.stripTags></f:format.raw></h3>
                        <h4><f:format.raw>{field.tileSubtitle}</f:format.raw></h4>
                        <f:format.raw>{field.tileCopytext}</f:format.raw>
                    </div>
                </div>
            </div>
            <div class="row procedure-row">
                <div class="arrow-container rellax" data-rellax-speed="-8">
                    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="111.3px" height="138.8px" viewBox="0 0 111.3 138.8" style="enable-background:new 0 0 111.3 138.8;" xml:space="preserve">
                        <path d="M232.8-53.8c1.5-1.1,2.2-1.2,2.3-3.6c0.1-4.4-2.1-5.7-5.9-3.5c-9,5.3-17,11.9-23.3,20.3c-6.7,8.8-12.9,17.9-19.7,26.6
        c-2.5,3.1-5.4,6.8-9.2,10.1c-5.7,4.3-5.7,4.3-11.3,6.4c-0.7,0.3-2.1,0.8-3.1-0.1c-1.1-0.9-2.5-2.2-2.8-3.2
        c-0.9-4.1,0.3-8.5,3.5-12.4c6.5-7.7,12.2-16.1,18.2-24.2c8.3-11.3,17.8-21.4,28.8-30c1.9-1.5,4.1-2.6,6.2-3.8
        c3.2-1.7,6.5-3.2,9.5-5.1c5.6-3.7,11.7-3.6,17.8-2.6c4.4,0.7,7.4,5.2,7.2,9.7c-0.5,8.6-1.3,17.1-1.6,25.7
        c-0.6,13.5-0.2,26.9,1.5,40.4c1.1,8.9,1.5,18,2.3,27c0.3,3.4,1.1,6.8,1.5,10.2c0.1,1.1-0.4,2.3-0.7,3.5c-0.1,0.6-0.6,1.3-0.5,1.9
        c0.3,2-0.7,3.2-2.5,3.8c-2,0.7-3.7,0.6-4.9-1.3c-1.3-2.1-2.6-4.3-3.9-6.5C233.2,12.5,232.1-3,232.1-3.6c-0.2-4.9-1.1-12.1-1.1-17.8
        c-4.4,8.4-6.6,16.7-7.8,25.3c-2.4,16.8-2.6,33.5,1.2,50.2c5.3,22.9,14.8,43.8,26.6,64c6.7,11.6,14.7,21.9,24.8,30.7
        c7.3,6.3,15.8,10.5,24.4,14.6c2.9,1.4,5.8,2.6,8.7,4c2.7,1.3,3,2.5,0.9,4.5c-1.2,1.1-0.8,1.8,0.1,2.9c4.4,5.5,10.2,8.9,16.8,11.2
        c0.5,0.2,1,0.4,1.5,0.6c1.7,0.9,4.2,1,3.1,4.1c-0.9,2.4-3.4,3.9-5.8,2.9c-8.5-3.4-17-6.9-25.4-10.6c-3.9-1.7-7.7-3.7-11.2-6
        c-4.8-3.1-9.5-6.4-14.1-9.8c-6.8-5-13.6-9.9-20.1-15.3c-9.6-8-17.1-17.8-23.6-28.5c-2.8-4.6-6.1-8.9-9.1-13.2
        c-0.8-1.2-1.5-2.4-1.9-3.8c-4.2-11.6-8.9-23.1-10.9-35.4c-1.3-7.9-2.1-15.9-2.7-23.8c-0.7-9.2-1.5-18.5-1.2-27.8
        c0.5-16.8,4-33,11.3-48.3c2.9-6,5.1-12.4,8-18.4c0.8-1.6,2.5-2.9,4-3.9C230.5-52.4,230.9-52.7,232.8-53.8z"/>
                        <g id="VzakYo.tif"></g>
                        <path d="M108.7,0c0.6,0,1,0.4,1.2,0.9c0.6,2.5,1.7,5.1,1.2,7.4c-10.6,51.1-38.2,90.3-82.6,117.6c-0.8,0.5-1.3,0.7-2.2,1.3
        c-0.3,0.2-1,0.5-1.4,1.5c3.2-0.4,5.9-0.7,8.6-1c2.9-0.4,5.9-0.8,8.8-1.1c2.1-0.2,4.4-0.8,6.4-0.4c1.3,0.3,2.7,2.1,3.1,3.5
        c0.2,0.7-1.6,2.8-2.7,2.9c-14.3,2.2-28.7,4.3-43.1,6c-2.5,0.3-4.4-0.6-5.6-2.7c-0.6-0.9-0.7-1.3-0.5-2.3c0.7-2.3,4.2-4.4,5.7-7
        c5.3-9.3,10.4-18.8,15.6-28.2c0.5-0.9,1.1-1.8,1.7-2.7c0.4-0.6,1.3-0.8,1.9-0.2c2.5,2.3,1.8,4.8,0.3,7.4c-3.4,6.2-6.8,12.3-9.7,18.7
        c-0.5,1.1,0.6,2.2,1.7,1.6C66.3,96.9,97.1,56.6,107.5,1C107.6,0.4,108.1,0,108.7,0L108.7,0z"/>
                    </svg>
                </div>
                <f:for each="{field.procedures}" as="procedure" iteration="iterProcedure">
                    <div class="col-12 procedure-container">
                        <div class="row">
                            <div class="col-6 col-md-5 col-xl-4 procedure-left-content">
                                <div class="content-text">
                                    <p class="procedure-number">0{iterProcedure.cycle}.</p>
                                    <p class="procedure-title"><f:format.raw>{procedure.title}</f:format.raw></p>
                                </div>
                            </div>
                            <div class="col-6 col-md-7 col-xl-8 text procedure-right-content">
                                <div class="content-text">
                                    <f:format.raw>{procedure.text}</f:format.raw>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:for>
                <div class="col-12">
                    <div class="row">
                        <div class="col-5 col-xl-4 bottom-spacer-white"></div>
                        <div class="col-7 col-xl-8 bottom-spacer-gold"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
