<section class="dce_infoTileParallaxImage dce_infoTileParallaxImageWhiteBg dce_infoTileAdditionalInfoRight">
    <div class="info-container mb-0 left">
        <div class="container content-container">
            <div class="row">
                <div class="col-12 col-md-8 text white-bg">
                    <div class="content-text matchHeight-content">
                        <h3>{field.tileTitle}</h3>
                        <h4>{field.tileSubtitle}</h4>
                        <f:format.raw>{field.tileCopytext}</f:format.raw>
                        <f:if condition="{field.tileLinkPage}">
                            <div class="button-container">
                                <f:link.typolink parameter="{field.tileLinkPage}" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                    <span>{field.tileButtonText}</span>
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                    </svg>
                                </f:link.typolink>
                            </div>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container additionalinfo-container">
        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-8 additionalinfo">
                <div class="aligner">
                    <div>
                        <f:for each="{field.additionalInfos}" as="info">
                            <div class="spacer">
                                <div class="info">
                                    <f:image src="EXT:kosmetik_akademie_engel/Resources/Public/Icons/icon-checkmark.svg" />
                                    <h5>{info.info}</h5>
                                </div>
                            </div>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
