<section class="dce_InfoTileImageParallaxWoman info-container right">
    <div class="container content-container">
        <div class="row">
            <div class="col-12 col-lg-4 image-container">
                <div class="image">
                    <f:image src="/fileadmin{field.tileImage.0.originalFile.identifier}" class="rellax" additionalAttributes="{data-rellax-speed: '-4'}" />
                </div>
            </div>
            <div class="col-12 col-lg-8 text">
                <div class="content-text">
                    <h3>{field.tileTitle}</h3>
                    <h4>{field.tileSubtitle}</h4>
                    <f:format.raw>{field.tileCopytext}</f:format.raw>
                    <div class="button-container">
                        <f:link.typolink parameter="{field.tileLinkPage}" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                            <span>{field.tileButtonText}</span>
                            <svg>
                                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                            </svg>
                        </f:link.typolink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
