<section class="dce_infoTileParallaxQuote{f:if(condition: '{field.tileLeft}==1', then:' left')}{f:if(condition: '{field.tileRight}==1', then:' right')}{f:if(condition: '{page.uid}==1', then: ' home')}{f:if(condition: '{page.uid}==2', then: ' akademie')}{f:if(condition: '{page.uid}==3', then: ' leistungen')}{f:if(condition: '{page.uid}==27', then: ' success')}{f:if(condition: '{page.uid}==28', then: ' coaching')}{f:if(condition: '{page.uid}==4', then: ' inci-check')}{f:if(condition: '{page.uid}==37', then:' page-404')}">
    <div class="info-container{f:if(condition: '{field.tileLeft}==1', then:' left')}{f:if(condition: '{field.tileRight}==1', then:' right')}">
        <div class="container content-container">
            <div class="row">
                <div class="col-12{f:if(condition: '{field.quoteRows}', then: ' col-md-7')}{f:if(condition: '{field.tileRight}==1', then:' order-last')} text">
                    <div class="content-text">
                        <h3><f:format.raw>{field.tileTitle}</f:format.raw></h3>
                        <h4>{field.tileSubtitle}</h4>
                        <f:format.raw>{field.tileCopytext}</f:format.raw>
                        <f:if condition="{field.tileLinkPage}">
                            <div class="button-container">
                                <f:link.typolink parameter="{field.tileLinkPage}" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                    <span>{field.tileButtonText}</span>
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                    </svg>
                                </f:link.typolink>
                            </div>
                        </f:if>
                        <f:if condition="{field.externalLink}">
                            <div class="button-container">
                                <a href="{field.externalLink}" target="_blank" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                    <span>{field.tileButtonText}</span>
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                    </svg>
                                </a>
                            </div>
                        </f:if>
                    </div>
                </div>
                <f:if condition="{field.quoteRows}">
                    <div class="col-md-5{f:if(condition: '{field.tileRight}==1', then:' order-first')} quotes">
                        <div class="quote-container">
                            <svg class="rellax" data-rellax-speed="{f:if(condition: '{field.tileLeft}==1', then:'4')}{f:if(condition: '{field.tileRight}==1', then:'2')}" version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="49.8px" height="40.4px" viewBox="0 0 49.8 40.4" style="enable-background:new 0 0 49.8 40.4;" xml:space="preserve">
                                <g class="st0">
                                    <path d="M24,15.2c-2.7,8.8-13.1,17.1-23.5,17.6L0,30.6c6.3-0.6,12.5-4.7,15.3-9.9c-1.1,0.3-2.5,0.3-4.2-0.2
                                        c-5.5-1.7-8.6-7.3-6.8-13s7.4-8.8,13-7.1C22.9,2.2,26.2,8.2,24,15.2z M49.1,22.8C46.4,31.6,36,39.9,25.6,40.4l-0.6-2.1
                                        c6.3-0.6,12.5-4.7,15.3-9.9c-1.1,0.3-2.5,0.3-4.2-0.2c-5.5-1.7-8.6-7.3-6.8-13c1.7-5.7,7.4-8.8,13-7.1C48,9.9,51.2,15.8,49.1,22.8z
                                        "/>
                                </g>
                            </svg>
                            <div class="text-container rellax" data-rellax-speed="{f:if(condition: '{field.tileLeft}==1', then:'2')}{f:if(condition: '{field.tileRight}==1', then:'4')}">
                                <f:for each="{field.quoteRows}" as="quoteRow" iteration="quoteIter">
                                    <p class="quoteIter-{quoteIter.cycle}{f:if(condition: '{quoteRow.quoteBold}==1',then: ' quoteBold')}">{quoteRow.quoteRow}</p>
                                </f:for>
                            </div>
                        </div>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</section>
