<section class="dce_infoTileParallaxImage dce_infoTileParallaxImageWhiteBg">
    <div class="info-container left">
        <div class="container content-container">
            <div class="row">
                <div class="col-12 col-md-8 text white-bg">
                    <div class="content-text">
                        <h3>{field.tileTitle}</h3>
                        <h4>{field.tileSubtitle}</h4>
                        <f:format.raw>{field.tileCopytext}</f:format.raw>
                        <div class="button-container">
                            <f:link.typolink parameter="{field.tileLinkPage}" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                <span>{field.tileButtonText}</span>
                                <svg>
                                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                </svg>
                            </f:link.typolink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container images-container">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-8 images{f:if(condition: '{page.uid}==2', then: ' akademie')}{f:if(condition: '{page.uid}==3', then: ' leistungen')}">
                <f:if condition="{page.uid}==2">
                    <f:then>
                        <div class="image-left">
                            <f:image src="/fileadmin/content/startseite/akademie/Puder-freigestellt.png" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '3', data-rellax-mobile-speed: '1'}" />
                        </div>
                        <div class="image-right">
                            <f:image src="/fileadmin/content/startseite/akademie/Pflanze-2-freigestellt-gedreht.png" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '5', data-rellax-mobile-speed: '1'}" />
                        </div>
                    </f:then>
                    <f:else if="{page.uid}==3">
                        <div class="image-left">
                            <f:image src="/fileadmin/content/startseite/leistungen/istockphoto-849716508-1024x1024.jpg" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '2', data-rellax-mobile-speed: '1'}" />
                        </div>
                        <div class="image-right">
                            <f:image src="/fileadmin/content/startseite/leistungen/istockphoto-614317748-1024x1024.jpg" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '6', data-rellax-mobile-speed: '1'}" />
                        </div>
                    </f:else>
                </f:if>
            </div>
        </div>
    </div>
</section>
