<section class="info-container{f:if(condition: '{field.tileLeft}==1', then:' left')}{f:if(condition: '{field.tileRight}==1', then:' right')}">
    <f:if condition="{field.tileLeft}==1">
        <f:then>
            <div class="container content-container">
                <div class="row">
                    <div class="col-12 col-lg-6 text">
                        <div class="content-text">
                            <h3>{field.tileTitle}</h3>
                            <h4>{field.tileSubtitle}</h4>
                            <f:format.raw>{field.tileCopytext}</f:format.raw>
                            <div class="button-container">
                                <f:link.typolink parameter="24" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                    <span>{field.tileButtonText}</span>
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                    </svg>
                                </f:link.typolink>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 image-container">
                        <div class="image">
                            <f:image src="/fileadmin{field.tileImage.0.originalFile.identifier}" class="rellax" additionalAttributes="{data-rellax-speed: '-10'}" title="Title" />
                        </div>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else if="{field.tileRight}==1">
            <div class="container content-container">
                <div class="row">
                    <div class="col-12 col-lg-6 image-container">
                        <div class="image">
                            <f:image src="/fileadmin{field.tileImage.0.originalFile.identifier}" class="rellax" additionalAttributes="{data-rellax-speed: '-10'}" title="Title" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 text">
                        <div class="content-text">
                            <h3>{field.tileTitle}</h3>
                            <h4>{field.tileSubtitle}</h4>
                            <f:format.raw>{field.tileCopytext}</f:format.raw>
                            <div class="button-container">
                                <f:link.typolink parameter="{field.tileLinkPage}" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                    <span>{field.tileButtonText}</span>
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                    </svg>
                                </f:link.typolink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
</section>
