<section class="dce_infoTileParallaxImage{f:if(condition: '{field.tileLeft}==1', then:' left')}{f:if(condition: '{field.tileRight}==1', then:' right')}">
    <div class="info-container{f:if(condition: '{field.tileLeft}==1', then:' left')}{f:if(condition: '{field.tileRight}==1', then:' right')}">
        <div class="container content-container">
            <div class="row">
                <div class="col-12 col-md-8{f:if(condition: '{field.tileRight}==1', then:' offset-md-4 text-left')} text">
                    <div class="content-text">
                        <h3>{field.tileTitle}</h3>
                        <h4>{field.tileSubtitle}</h4>
                        <f:format.raw>{field.tileCopytext}</f:format.raw>
                        <f:if condition="{field.tileLinkPage}">
                            <div class="button-container">
                                <f:link.typolink parameter="{field.tileLinkPage}" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                    <span>{field.tileButtonText}</span>
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                    </svg>
                                </f:link.typolink>
                            </div>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container images-container">
        <div class="row">
            <div class="col-12 col-md-4{f:if(condition: '{field.tileLeft}==1', then:' offset-md-8 images-right')} images{f:if(condition: '{page.uid}==2', then: ' akademie')}{f:if(condition: '{page.uid}==3', then: ' leistungen')}{f:if(condition: '{page.uid}==27', then: ' success')}">

                <div class="image-left">
                    <f:if condition="{page.uid}==2">
                        <f:if condition="{field.overwriteImages}==1">
                            <f:then>
                                <f:image src="/fileadmin{field.leftImage.0.originalFile.identifier}" class="img-fluid rellax overwrite-image" additionalAttributes="{data-rellax-speed: '5', data-rellax-mobile-speed: '3'}" />
                            </f:then>
                            <f:else>
                                <f:image src="/fileadmin/content/startseite/akademie/Flasche-freigestellt.png" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '5', data-rellax-mobile-speed: '3'}" />
                            </f:else>
                        </f:if>
                    </f:if>
                    <f:if condition="{page.uid}==3">
                        <f:if condition="{field.overwriteImages}==1">
                            <f:then>
                                <f:image src="/fileadmin{field.leftImage.0.originalFile.identifier}" class="img-fluid rellax overwrite-image" additionalAttributes="{data-rellax-speed: '5', data-rellax-mobile-speed: '1'}" />
                            </f:then>
                            <f:else>
                                <f:image src="/fileadmin/content/startseite/leistungen/istockphoto-614317748-2-1024x1024.jpg" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '5', data-rellax-mobile-speed: '1'}" />
                            </f:else>
                        </f:if>
                    </f:if>
                    <f:if condition="{page.uid}==27">
                        <f:if condition="{field.overwriteImages}==1">
                            <f:then>
                                <f:image src="/fileadmin{field.leftImage.0.originalFile.identifier}" class="img-fluid rellax overwrite-image" additionalAttributes="{data-rellax-speed: '6', data-rellax-mobile-speed: '1'}" />
                            </f:then>
                        </f:if>
                    </f:if>
                </div>

                <div class="image-right">
                    <f:if condition="{page.uid}==2">
                        <f:if condition="{field.overwriteImages}==1">
                            <f:then>
                                <f:image src="/fileadmin{field.rightImage.0.originalFile.identifier}" class="img-fluid rellax overwrite-image" additionalAttributes="{data-rellax-speed: '2', data-rellax-mobile-speed: '1'}" />
                            </f:then>
                            <f:else>
                                <f:image src="/fileadmin/content/startseite/akademie/Pflanze-freigestellt.png" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '2', data-rellax-mobile-speed: '1'}" />
                            </f:else>
                        </f:if>
                    </f:if>
                    <f:if condition="{page.uid}==3">
                        <f:if condition="{field.overwriteImages}==1">
                            <f:then>
                                <f:image src="/fileadmin{field.rightImage.0.originalFile.identifier}" class="img-fluid rellax overwrite-image" additionalAttributes="{data-rellax-speed: '2', data-rellax-mobile-speed: '1'}" />
                            </f:then>
                            <f:else>
                                <f:image src="/fileadmin/content/startseite/leistungen/cosmetic-2357981_1920_copyright-dungthuyvunguyen.png" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '2', data-rellax-mobile-speed: '1'}" />
                            </f:else>
                        </f:if>
                    </f:if>
                    <f:if condition="{page.uid}==27">
                        <f:if condition="{field.overwriteImages}==1">
                            <f:then>
                                <f:image src="/fileadmin{field.rightImage.0.originalFile.identifier}" class="img-fluid rellax overwrite-image" additionalAttributes="{data-rellax-speed: '3', data-rellax-mobile-speed: '1'}" />
                            </f:then>
                            <f:else>
                                <f:image src="/fileadmin/content/startseite/leistungen/success/istockphoto-614317748-1024x1024-2.jpg" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '3', data-rellax-mobile-speed: '1'}" />
                            </f:else>
                        </f:if>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</section>
