<section id="leseprobe" class="dce_Leseprobe">
    <div class="container content-container">
        <div class="row">
            <div class="col-12 text">
                <div class="content-text">
                    <h3>{field.title}</h3>
                    <h4>{field.subtitle}</h4>
                </div>
            </div>
            <f:for each="{field.images}" as="image" iteration="iterImage">
                <div class="col-12 col-md-6 offset-md-3 images-section">
                    <div class="images-container">
                        <div class="image">
                            <f:if condition="{iterImage.index}==0">
                                <f:then>
                                    <a data-fancybox="gallery" href="fileadmin/content/startseite/leistungen/success/Leseprobe-1-lightbox.jpg" class="fancybox">
                                        <f:image src="fileadmin/{image.originalFile.identifier}" class="img-fluid" />
                                    </a>
                                </f:then>
                                <f:else>
                                    <a data-fancybox="gallery" href="fileadmin/{image.originalFile.identifier}" class="fancybox">
                                        <f:image src="fileadmin/{image.originalFile.identifier}" class="img-fluid" />
                                    </a>
                                </f:else>
                            </f:if>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </div>
</section>
