<section class="magazin-mockup">
    <div class="container content-container">
        <div class="row">
            <div class="col-12">
                <div class="entry-text text">
                    <h3 class="entry">{field.title}</h3>
                    <h4 class="entry">{field.subtitle}</h4>
                    <div class="text-container">
                        <f:format.raw>{field.einleitungstext}</f:format.raw>
                        <div class="button-container">
                            <a href="{field.tileLinkPage}" data-scroll class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                                <span>{field.tileButtonText}</span>
                                <svg>
                                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container image-container">
        <div class="image">
            <div>
                <f:image src="/fileadmin{field.mockupImage.0.originalFile.identifier}" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

