<section id="unser-angebot" class="unser-angebot left angebot">
    <div class="image-container rellax" data-rellax-speed="-4">
        <div class="image">
            <f:image src="/fileadmin{field.tileImage.0.originalFile.identifier}" />
        </div>
    </div>
    <div class="container content-container">
        <div class="row">
            <div class="col-12 col-lg-7 text">
                <div class="content-text">
                    <h3>{field.tileTitle}</h3>
                    <h4>{field.tileSubtitle}</h4>
                    <f:format.raw>{field.tileCopytext}</f:format.raw>
                    <div class="button-container">
                        <f:link.typolink parameter="{field.tileLinkPage}" class="button{f:if(condition: '{field.smallButton}==1',then: ' small')}{f:if(condition: '{field.largeButton}==1',then: ' large')}">
                            <span>{field.tileButtonText}</span>
                            <svg>
                                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                            </svg>
                        </f:link.typolink>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 angebote">
                <f:for each="{field.angebote}" as="angebot" iteration="iterAngebot">
                    <div class="rellax {f:if(condition: '{iterAngebot.cycle}==1', then: 'first')}{f:if(condition: '{iterAngebot.cycle}==2', then: 'second')}{f:if(condition: '{iterAngebot.cycle}==3', then: 'third')}{f:if(condition: '{iterAngebot.cycle}==4', then: 'fourth')}" data-rellax-speed="{f:if(condition: '{iterAngebot.cycle}==1', then: '2')}{f:if(condition: '{iterAngebot.cycle}==2', then: '4')}{f:if(condition: '{iterAngebot.cycle}==3', then: '6')}{f:if(condition: '{iterAngebot.cycle}==4', then: '8')}">
                        <f:link.typolink parameter="{angebot.angebotLink}" class="no-hover">
                            <div class="angebot">
                                <h4>{angebot.angebotTitle}</h4>
                                <f:format.raw><span class="angebot-text">{angebot.angebotText}</span></f:format.raw>
                                <div class="icon-container">
                                    <f:image src="EXT:kosmetik_akademie_engel/Resources/Public/Icons/icon-arrow-right.svg" title="Arrow Right" class="img-fluid" />
                                </div>
                            </div>
                        </f:link.typolink>
                    </div>
                </f:for>
            </div>
        </div>
    </div>
</section>
