<section class="info-container left dce_Profil">
    <div class="container content-container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-4 profile-image">
                        <f:image src="/fileadmin{field.tileImage.0.originalFile.identifier}" class="img-fluid profilbild" title="Title" />
                        <f:format.raw>{field.infoUnterBild}</f:format.raw>
                    </div>
                    <div class="col-12 col-md-8 text">
                        <div class="content-text">
                            <h3>{field.tileTitle}</h3>
                            <h4>{field.tileSubtitle}</h4>
                            <f:format.raw>{field.tileCopytext}</f:format.raw>
                            <f:image src="/fileadmin{field.unterschrift.0.originalFile.identifier}" class="img-fluid unterschrift" title="Title" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
