<section id="testimonials">
    <div class="container content-container{f:if(condition: '{page.uid}==28', then: ' coaching')}">
        <a class="carousel-control-prev carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="13.9px" height="40px" viewBox="0 0 13.9 40" style="enable-background:new 0 0 13.9 40;" xml:space="preserve">
                <path id="Pfad_36" class="st0" d="M12.4,38.5L1.7,20L12.4,1.5"/>
            </svg>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
            <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="13.9px" height="40px" viewBox="0 0 13.9 40" style="enable-background:new 0 0 13.9 40;" xml:space="preserve">
                <path id="Pfad_36" class="st0" d="M1.5,1.5L12.2,20L1.5,38.5"/>
            </svg>
            <span class="sr-only">Next</span>
        </a>
        <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
            <div class="carousel-inner">
                <f:for each="{field.testimonials}" as="testimonial" iteration="iterTestimonial">
                    <div class="carousel-item{f:if(condition: '{iterTestimonial.cycle}==1', then: ' active')}">
                        <div class="card">
                            <div class="card-body">
                                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="49.8px" height="40.4px" viewBox="0 0 49.8 40.4" style="enable-background:new 0 0 49.8 40.4;" xml:space="preserve">
                                    <g class="st0">
                                    <path d="M24,15.2c-2.7,8.8-13.1,17.1-23.5,17.6L0,30.6c6.3-0.6,12.5-4.7,15.3-9.9c-1.1,0.3-2.5,0.3-4.2-0.2
                                        c-5.5-1.7-8.6-7.3-6.8-13s7.4-8.8,13-7.1C22.9,2.2,26.2,8.2,24,15.2z M49.1,22.8C46.4,31.6,36,39.9,25.6,40.4l-0.6-2.1
                                        c6.3-0.6,12.5-4.7,15.3-9.9c-1.1,0.3-2.5,0.3-4.2-0.2c-5.5-1.7-8.6-7.3-6.8-13c1.7-5.7,7.4-8.8,13-7.1C48,9.9,51.2,15.8,49.1,22.8z
                                        "/>
                                </g>
                                </svg>
                                <span class="card-text"><f:format.raw>{testimonial.testimonialText}</f:format.raw></span>
                                <p class="author"><f:format.raw>{testimonial.author}</f:format.raw></p>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
            <ol class="carousel-indicators carousel-indicators-custom">
                <f:for each="{field.testimonials}" as="testimonial" iteration="iterIndicator">
                    <li data-target="#carouselExampleIndicators" data-slide-to="{iterIndicator.index}" class="{f:if(condition: '{iterIndicator.cycle}==1', then: 'active')}"></li>
                </f:for>
            </ol>
        </div>
    </div>
</section>
