<section id="unterseiten-entry">
    <div id="layout-unterseiten">
        <div class="container content-container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-text">
                        <h1 class="entry">{field.title}</h1>
                        <h2 class="entry">{field.subtitle}</h2>
                        <div class="text-container">
                            <div class="text-entry">
                                <f:format.raw>{field.einleitungstext}</f:format.raw>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container image-container{f:if(condition: '{page.uid}==27', then: ' success')}{f:if(condition: '{page.uid}==28', then: ' coaching')}">
            <div class="image">
                <div>
                    <f:if condition="{page.uid}==28">
                        <f:then>
                            <f:image src="/fileadmin{field.mockupImage.0.originalFile.identifier}" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '1', data-rellax-mobile-speed: '1'}" />
                        </f:then>
                        <f:else>
                            <f:image src="/fileadmin{field.mockupImage.0.originalFile.identifier}" class="img-fluid rellax" additionalAttributes="{data-rellax-speed: '3', data-rellax-mobile-speed: '1'}" />
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</section>
