{namespace vh=In2code\Powermail\ViewHelpers}
<fieldset class="{f:if(condition: '{page.css} == \'col\'', then: 'col')}{f:if(condition: '{page.css} == \'col-6\'', then: 'col-12 col-md-6')}{f:if(condition: '{page.css} == \'col-12\'', then: 'col-12')}{f:if(condition: '{page.css} == \'col-6no-label\'', then: 'col-12 col-md-6 no-label')}{f:if(condition: '{page.css} == \'col-12no-label\'', then: 'col-12 no-label')} powermail_fieldset powermail_fieldset_{page.uid}">

    <legend class="{f:if(condition: '{page.css} == \'col-6no-label\'', then: 'no-label')}{f:if(condition: '{page.css} == \'col-12no-label\'', then: 'no-label')} powermail_legend">{page.title}</legend>

    <div class="row">
        <f:for each="{page.fields}" as="field" iteration="iteration">
            <vh:misc.createRowTags columns="{settings.styles.numberOfColumns}" class="{settings.styles.framework.rowClasses}" iteration="{iteration}">
                <f:render partial="Form/Field/{vh:String.Upper(string:field.type)}" arguments="{field:field}" />
            </vh:misc.createRowTags>
        </f:for>
    </div>
</fieldset>
