<section id="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-8 order-last order-sm-first copyright-col">
                <p>© <f:format.date date="now" format="Y" /> Kosmetik Akademie Engel GmbH</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 footer-nav-col">
                <v:menu.list pages="10,11,12" as="menuItems">
                    <ul class="footernav">
                        <f:for each="{menuItems}" as="menuItem">
                            <li class="footernav-item">
                                <f:link.typolink parameter="{menuItem.uid}" class="footernav-link">{menuItem.title}</f:link.typolink>
                            </li>
                        </f:for>
                    </ul>
                </v:menu.list>
            </div>
        </div>
    </div>
</section>
