{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<section id="mainNavigation">
    <div class="navigation">
        <div class="container logo-container">
            <div id="logo">
                <a href="/">
                    <f:image src="EXT:kosmetik_akademie_engel/Resources/Public/Images/kosmetik-akademie-engel_signet-farbig.svg" class="img-fluid" title="Kosmetik Akademie Engel Logo" width="40px" />
                </a>
            </div>
            <div class="navigation-container">
                <header>
                    <v:menu pageUid="1">
                        <f:if condition="{menu}">
                            <ul class="mainNav">
                                <li class="nav-item">
                                    <f:link.typolink parameter="1" class="nav-link first-level{f:if(condition: '{data.uid}==1', then:' active')}" title="Startseite">
                                        Startseite
                                    </f:link.typolink>
                                </li>
                                <f:for each="{menu}" as="menuItem">
                                    <li class="nav-item{f:if(condition: menuItem.hasSubPages, then:' submenu')}">
                                        <f:if condition="{menuItem.hasSubPages}">
                                            <f:then>
                                                <span class="link-style first-level{f:if(condition: menuItem.current, then:' active')}{f:if(condition: menuItem.active, then:' parent-active')}">
                                                    {menuItem.title}
                                                    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="20px" height="10.7px" viewBox="0 0 20 10.7" style="enable-background:new 0 0 20 10.7;" xml:space="preserve">

                                                        <path id="Pfad_36" class="st0" d="M18.5,1.5L10,9.2L1.5,1.5"/>
                                                    </svg>
                                                </span>
                                                <v:menu pageUid="{menuItem.uid}">
                                                    <div class="submenu-container main-nav">
                                                        <ul class="subNav">
                                                            <li class="nav-item">
                                                                <f:link.typolink parameter="{menuItem.uid}" class="nav-link{f:if(condition: menuItem.current, then:' active')}" target="{menuItem.target}" title="{menuItem.title}">
                                                                    {menuItem.title}
                                                                </f:link.typolink>
                                                            </li>
                                                            <f:for each="{menu}" as="submenuItem">
                                                                <li class="nav-item">
                                                                    <f:link.typolink parameter="{submenuItem.uid}" class="nav-link{f:if(condition: submenuItem.current, then:' active')}{f:if(condition: submenuItem.active, then:' parent-active')}" target="{submenuItem.target}" title="{submenuItem.title}">
                                                                        {submenuItem.title}
                                                                    </f:link.typolink>
                                                                </li>
                                                            </f:for>
                                                        </ul>
                                                    </div>
                                                </v:menu>
                                            </f:then>
                                            <f:else>
                                                <f:link.typolink parameter="{menuItem.uid}" class="nav-link first-level{f:if(condition: menuItem.current, then:' active')}" target="{menuItem.target}" title="{menuItem.title}">
                                                    {menuItem.title}
                                                </f:link.typolink>
                                            </f:else>
                                        </f:if>
                                    </li>
                                </f:for>
                            </ul>
                        </f:if>
                    </v:menu>
                </header>
                <f:comment>
                    <div id="log-in">
                        <v:page.link pageUid="1" class="log-in-link">Login</v:page.link>
                    </div>
                </f:comment>
            </div>
        </div>
    </div>
    <div class="container hamburger-icon">
        <div id="hamburger-menu">
            <button class="hamburger hamburger--spring" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
            </button>
        </div>
    </div>
    <div class="container hamburger-navigation">
        <div class="burger-container">
            <header>
                <v:menu pageUid="1">
                    <f:if condition="{menu}">
                        <ul class="mainNav">
                            <li class="nav-item">
                                <f:link.typolink parameter="1" class="nav-link{f:if(condition: '{data.uid}==1', then:' active')}" title="Startseite">
                                    Startseite
                                </f:link.typolink>
                            </li>
                            <f:for each="{menu}" as="menuItem">
                                <li class="nav-item{f:if(condition: menuItem.hasSubPages, then:' submenu')}">
                                    <f:if condition="{menuItem.hasSubPages}">
                                        <f:then>
                                            <span class="link-style{f:if(condition: menuItem.active, then:' parent-active')}">
                                                {menuItem.title}
                                                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     width="20px" height="10.7px" viewBox="0 0 20 10.7" style="enable-background:new 0 0 20 10.7;" xml:space="preserve">

                                                    <path id="Pfad_36" class="st0" d="M18.5,1.5L10,9.2L1.5,1.5"/>
                                                </svg>
                                            </span>
                                            <v:menu pageUid="{menuItem.uid}">
                                                <div class="submenu-container hamburger-menu">
                                                    <ul class="subNav">
                                                        <li class="nav-item">
                                                            <f:link.typolink parameter="{menuItem.uid}" class="nav-link{f:if(condition: menuItem.current, then:' active')}" target="{menuItem.target}" title="{menuItem.title}">
                                                                {menuItem.title}
                                                            </f:link.typolink>
                                                        </li>
                                                        <f:for each="{menu}" as="submenuItem">
                                                            <li class="nav-item">
                                                                <f:link.typolink parameter="{submenuItem.uid}" class="nav-link{f:if(condition: submenuItem.current, then:' active')}{f:if(condition: submenuItem.active, then:' parent-active')}" target="{submenuItem.target}" title="{submenuItem.title}">
                                                                    {submenuItem.title}
                                                                </f:link.typolink>
                                                            </li>
                                                        </f:for>
                                                    </ul>
                                                </div>
                                            </v:menu>
                                        </f:then>
                                        <f:else>
                                            <f:link.typolink parameter="{menuItem.uid}" class="nav-link{f:if(condition: menuItem.current, then:' active')}" target="{menuItem.target}" title="{menuItem.title}">
                                                {menuItem.title}
                                            </f:link.typolink>
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:for>
                        </ul>
                    </f:if>
                </v:menu>
            </header>
        </div>
    </div>
    <f:comment>
        <div class="stoerer">
            <h5>Unsere Internetpräsenz befindet sich noch im Aufbau.</h5>
            <p>Gerne können Sie sich hier kostenfrei und unverbindlich zu unserem <f:link.typolink parameter="14">Newsletter</f:link.typolink> anmelden – so bleiben Sie immer bestens informiert und verpassen keine Neuheiten unserer Kosmetikakademie.</p>
        </div>
    </f:comment>
</section>
