// Layout
$grid-breakpoints: (
        xs: 0,
        sm: 820px,
        md: 1020px,
        lg: 1320px,
        xl: 1730px
);

$container-max-widths: (
        sm: 700px,
        md: 900px,
        lg: 1200px,
        xl: 1600px
) !default;
