html {
    scroll-behavior: smooth;

    body {
        // Navigation styles
        #mainNavigation {
            position: sticky;
            top: 0;
            z-index: 999;

            @include media-breakpoint-down(sm) {
                position: relative;
            }

            .navigation {
                background-color: $header-primary-color;
                border-bottom: 2px solid $primary-gold-color;
                height: 90px;
                display: flex;
                align-items: center;

                @include media-breakpoint-down(lg) {
                    height: 81px;
                }

                @include media-breakpoint-down(md) {
                    height: 72px;
                }

                @include media-breakpoint-down(sm) {
                    height: 63px;
                    z-index: 10;
                }
            }

            .logo-container {
                position: relative;
                padding-right: 1px;

                @include media-breakpoint-down(sm) {
                    padding-right: 15px;
                    height: 100%;
                }

                #logo {
                    position: absolute;
                    top: 50%;
                    left: -50px;
                    transform: translateY(-50%);
                    z-index: 20;

                    @include media-breakpoint-down(lg) {
                        left: -40px;
                    }

                    @include media-breakpoint-down(sm) {
                        left: 15px;
                    }

                    img {
                        @include media-breakpoint-down(lg) {
                            width: 30px;
                        }
                    }
                }
            }

            .navigation-container {
                display: flex;
                justify-content: flex-end;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .mainNav {
                list-style: none;
                text-align: center;
                margin-bottom: 0;
                padding-inline-start: 0;

                .nav-item {
                    display: inline-block;
                    letter-spacing: 3px;
                    margin-right: 6.5rem;

                    @include media-breakpoint-down(md) {
                        margin-right: 4rem;
                    }

                    @include media-breakpoint-down(sm) {
                        margin-right: 3rem;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    .nav-link,
                    .link-style {
                        color: $primary-gold-color;
                        cursor: pointer;
                        font-weight: 400;
                        text-transform: uppercase;
                        padding: .2rem 0;
                        position: relative;

                        &.first-level {
                            &:after {
                                content: '';
                                background-color: $primary-gold-color;
                                height: 2px;
                                width: 0;
                                position: absolute;
                                bottom: -1px;
                                left: 0;

                                @include transition($transition-base);
                            }

                            &:hover {
                                &:after {
                                    width: 100%;
                                }
                            }
                        }

                        &.first-level.active,
                        &.first-level.parent-active {
                            &:after {
                                content: '';
                                background-color: $primary-gold-color;
                                height: 2px;
                                width: 100%;
                                position: absolute;
                                bottom: -1px;
                                left: 0;

                                @include transition($transition-base);
                            }
                        }

                        svg {
                            fill: none;
                            stroke: $primary-gold-color;
                            stroke-width: 2;
                            stroke-linecap: round;
                            margin-bottom: 4px;

                            @include transition($transition-base);

                            @include media-breakpoint-down(lg) {
                                width: 15px;
                            }
                        }
                    }

                    &.active-menu {
                        svg {
                            transform: rotate(180deg);
                        }
                    }

                    .submenu-container {
                        &.main-nav {
                            background-color: rgba($primary-gold-color, .8);
                            position: absolute;
                            top: -220px;
                            width: 250px;
                            z-index: -1;

                            @include transition($transition-base);

                            @include media-breakpoint-down(sm) {
                                display: none;
                            }

                            &.open-menu {
                                top: 55px;

                                @include media-breakpoint-only(md) {
                                    top: 49px;
                                }
                            }
                        }

                        .subNav {
                            padding-inline-start: 0;

                            .nav-item {
                                display: list-item;
                                list-style: none;
                                margin-right: 0;
                                text-align: left;

                                a {
                                    color: $white;
                                    padding: .8rem 1.2rem;

                                    @include transition($transition-base);

                                    &.active,
                                    &.parent-active {
                                        background-color: $white;
                                        color: $secondary-grey-color;
                                    }

                                    &:hover {
                                        background-color: $white;
                                        color: $secondary-grey-color;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .hamburger-icon {
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 5;

                @include media-breakpoint-up(md) {
                    display: none;
                }

                #hamburger-menu {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    justify-content: flex-end;

                    button.hamburger {
                        padding: 0;
                        display: inline-flex;

                        &:hover {
                            opacity: 1;
                        }

                        &.is-active {
                            .hamburger-box {
                                .hamburger-inner:before,
                                .hamburger-inner:after {
                                    background-color: $secondary-grey-color;
                                }

                                .hamburger-inner:before {
                                    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.15s linear .2s;
                                }

                                .hamburger-inner:after {
                                    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), background-color .15s linear .2s;
                                }
                            }
                        }

                        .hamburger-box {
                            .hamburger-inner,
                            .hamburger-inner:before,
                            .hamburger-inner:after {
                                background-color: $primary-gold-color;
                            }

                            .hamburger-inner:before {
                                transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color .15s linear .1s;
                            }

                            .hamburger-inner:after {
                                transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color .15s linear .1s;
                            }

                        }
                    }

                    @include media-breakpoint-up(md) {
                        display: none;
                    }
                }
            }

            .hamburger-navigation {
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;

                @include media-breakpoint-up(md) {
                    display: none;
                }

                .burger-container {
                    background-color: rgba($primary-gold-color, .8);
                    position: absolute;
                    right: 15px;
                    top: -200px;
                    width: 250px;
                    z-index: -1;

                    @include transition($transition-base);

                    @include media-breakpoint-up(md) {
                        display: none;
                    }

                    &.open {
                        top: 61px;
                    }

                    header {
                        .mainNav {
                            .nav-item {
                                display: list-item;
                                margin-right: 0;
                                text-align: left;

                                .nav-link,
                                .link-style {
                                    color: $white;
                                    display: block;
                                    padding: .8rem 1.2rem;

                                    @include transition($transition-base);

                                    &.active,
                                    &.parent-active {
                                        background-color: $white;
                                        color: $secondary-grey-color;
                                    }

                                    &.parent-active {
                                        svg {
                                            stroke: $secondary-grey-color;
                                        }
                                    }

                                    &:hover {
                                        background-color: $white;
                                        color: $secondary-grey-color;

                                        svg {
                                            stroke: $secondary-grey-color;
                                        }
                                    }
                                }

                                .link-style {
                                    position: relative;

                                    svg {
                                        stroke: $white;
                                        margin-bottom: 3px;
                                        width: 15px;
                                        position: absolute;
                                        top: 17px;
                                        right: 1.2rem;

                                        @include transition($transition-base);
                                    }
                                }

                                .hamburger-menu {
                                    background-color: $primary-gold-color;
                                    height: 0;
                                    opacity: 0;
                                    overflow: hidden;

                                    @include transition($transition-base);

                                    &.open-submenu {
                                        height: 186px;
                                        overflow: visible;
                                        opacity: 1;
                                    }

                                    .subNav {
                                        .nav-item {
                                            .nav-link {
                                                padding-left: 2rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #log-in {
                margin-left: 6rem;

                .log-in-link {
                    color: $white;
                    display: inline-block;
                    background-color: $primary-gold-color;
                    padding: 1.5rem 4rem;
                    text-transform: uppercase;
                    letter-spacing: 3px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .stoerer {
                position: absolute;
                top: calc(90px + 1rem);
                right: 1rem;
                width: 400px;
                background-color: white;
                padding: .8rem 1rem;
                border: 2px solid green;
                opacity: .8;

                &:hover {
                    opacity: 1;
                }

                p {
                    margin-bottom: 0;

                    a {
                        color: $primary-gold-color;

                        &:hover {
                            color: $primary-gold-color;
                        }
                    }
                }
            }
        }
        // Navigation styles END

        #mainContent {
            section {
                margin-bottom: 7.5rem !important;

                @include media-breakpoint-down(xs) {
                    margin-bottom: 3rem !important;
                }
            }

            .button-container {
                margin-top: 2rem;
            }

            span.button {
                cursor: pointer;
            }

            .button.short {
                &:hover {
                    color: $primary-gold-color;
                    text-decoration: none;

                    &:before {
                        background-color: $layout-secondary-color;
                    }

                    rect {
                        fill: $white;
                        stroke-dasharray: 200, 0, 60, 0, 200, 0, 60, 0;
                        stroke-dashoffset: -15;
                        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1.3);
                    }
                }

                svg {
                    height: 50px;
                    width: 200px;

                    rect {
                        fill: $layout-secondary-color;
                        stroke: $primary-gold-color;
                        stroke-width: 3;
                        stroke-dashoffset: 15;
                        stroke-dasharray: 30, 170, 30, 20, 30, 170, 30, 20;
                        transition: all 0.35s ease-in-out;
                    }
                }
            }

            .button.large {
                &:hover {
                    color: $primary-gold-color;
                    text-decoration: none;

                    &:before {
                        background-color: $layout-secondary-color;
                    }

                    rect {
                        fill: $white;
                        stroke: $primary-gold-color;
                        stroke-dasharray: 350, 0, 60, 0, 350, 0, 60, 0;
                        stroke-dashoffset: -15;
                        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1.3);

                        @media (max-width: 700px) {
                            stroke-dasharray: 270, 0, 60, 0, 270, 0, 60, 0;
                        }
                    }
                }

                svg {
                    height: 50px;
                    width: 350px;

                    @media (max-width: 700px) {
                        width: 270px;
                    }

                    rect {
                        fill: $layout-secondary-color;
                        stroke: $primary-gold-color;
                        stroke-width: 3;
                        stroke-dashoffset: 15;
                        stroke-dasharray: 30, 320, 30, 20, 30, 320, 30, 20;
                        transition: all 0.35s ease-in-out;

                        @media (max-width: 700px) {
                            stroke-dasharray: 30, 240, 30, 20, 30, 240, 30, 20;
                        }
                    }
                }
            }
        }

        // Back To Top
        .scrollBackToTop {
            opacity: 0;
            visibility: hidden;
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            z-index: 99;
            border: none;
            outline: none;
            background-color: $secondary-grey-color;
            color: $white;
            cursor: pointer;
            padding: 5px 10px 7px;
            border-radius: 0;

            @include transition($transition-base);

            @include media-breakpoint-down(md) {
                padding: 6px 10px 10px;
            }

            &.show {
                opacity: 1;
                visibility: visible;
            }

            svg {
                fill:none;
                stroke:#FFFFFF;
                stroke-width:3;
                stroke-linecap:round;
                stroke-linejoin:round;

                @include media-breakpoint-down(xs) {
                    width: 15px;
                }
            }
        }

        // Footer styles
        #footer {
            background-color: lighten($secondary-grey-color, 70);
            border-top: 2px solid $primary-gold-color;
            padding: 2rem 0;

            .footer-container {
                @include media-breakpoint-up(sm) {
                    padding: 0 1px;
                }

                @include media-breakpoint-down(xs) {
                    padding: 0 4rem;
                }

                @media (max-width: 530px) {
                    padding: 0 3rem;
                }

                @media (max-width: 400px) {
                    padding: 0 1rem;
                }

                p,
                ul {
                    display: inline-block;
                    margin-bottom: 0;
                }

                .copyright-col {
                    @include media-breakpoint-down(xs) {
                        text-align: center;
                    }
                }

                .footer-nav-col {
                    text-align: right;

                    @include media-breakpoint-down(xs) {
                        text-align: center;
                        margin-bottom: 2rem;
                    }

                    .footernav {
                        display: inline-block;
                        padding-inline-start: 0;

                        .footernav-item {
                            display: inline-block;
                            list-style: none;
                            margin-right: 2rem;

                            &:last-child {
                                margin-right: 0;
                            }

                            .footernav-link {
                                color: $secondary-grey-color;
                            }
                        }
                    }
                }
            }
        }
        // Footer styles END

        // Lightbox styles
        #lightbox {
            .lb-container {
                .lb-next {
                    position: relative;
                    width: 40%;

                    &:after {
                        content: url("../../Icons/icon-arrow-right-gold.svg");
                        display: block;
                        height: auto;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 30px;
                        z-index: 100;
                    }
                }

                .lb-prev {
                    position: relative;
                    width: 40%;

                    &:after {
                        content: url("../../Icons/icon-arrow-left-gold.svg");
                        display: block;
                        height: auto;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 30px;
                        z-index: 100;
                    }
                }
            }

            .lb-dataContainer {
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);

                .lb-details {
                    width: 50%;
                }

                .lb-close {
                    position: relative;
                    width: 50%;

                    &:after {
                        content: url("../../Icons/icon-close-gold.svg");
                        display: block;
                        height: auto;
                        position: absolute;
                        top: 40%;
                        transform: translateY(-50%);
                        right: 0;
                        z-index: 100;
                    }
                }
            }
        }
        // Lightbox styles END
    }
}
