html {
    font-size: 20px;

    @include media-breakpoint-only(lg) {
        font-size: 18px;
    }

    @include media-breakpoint-down(md) {
        font-size: 16px;
    }

    body {
        font-family: ingra, sans-serif;
        font-size: 20px;
        font-weight: 200;

        @include media-breakpoint-only(lg) {
            font-size: 18px;
        }

        @include media-breakpoint-only(md) {
            font-size: 16px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }

        h1 {
            color: $primary-gold-color;
            font-family: ingra-2, sans-serif;
            font-size: 4rem;
            font-weight: 200;
            line-height: 1.1em;
            letter-spacing: 0.15em;
            margin-bottom: 0;
            text-transform: uppercase;

            @include media-breakpoint-down(lg) {
                font-size: 4.5rem;
            }

            @include media-breakpoint-down(md) {
                font-size: 3.5rem;
            }

        }

        h1.entry {
            font-size: 6.5rem;

            @media (max-height: 1030px) and (min-width: 1320px) {
                font-size: 4.5rem;
            }

            @include media-breakpoint-down(lg) {
                font-size: 4.5rem;
            }

            @include media-breakpoint-down(md) {
                font-size: 3.5rem;
            }

            @media (max-height: 580px) and (min-width: 1020px) {
                font-size: 3rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 5rem;
            }

            @media (max-width: 700px) {
                font-size: 3.5rem;
            }

            @media (max-width: 530px) {
                font-size: 2.5rem;
            }
        }

        h2, h4, h5 {
            font-family: quiche-sans, sans-serif;
            font-style: normal;
        }

        h2 {
            color: $secondary-grey-color;
            font-size: 2rem;
            font-weight: 500;
            padding-left: .1rem;

            @include media-breakpoint-down(md) {
                font-size: 1.6rem;
                padding-left: .3rem;
            }
        }

        h2.entry {
            font-size: 2.5rem;
            padding-left: .5rem;

            @media (max-height: 1030px) and (min-width: 1320px) {
                font-size: 2rem;
                padding-left: .4rem;
            }

            @include media-breakpoint-down(lg) {
                font-size: 2rem;
                padding-left: .4rem;
            }

            @include media-breakpoint-down(md) {
                font-size: 1.6rem;
                padding-left: .3rem;
            }

            @media (max-height: 580px) and (min-width: 1020px) {
                font-size: 1.4rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 2rem;
                padding-left: .4rem;
            }

            @media (max-width: 700px) {
                font-size: 1.5rem;
                padding-left: .3rem;
            }

            @media (max-width: 530px) {
                font-size: 1.3rem;
                padding-left: .2rem;
            }
        }

        h3 {
            color: $primary-gold-color;
            font-family: ingra-2, sans-serif;
            font-size: 3rem;
            font-weight: 200;
            letter-spacing: .12em;
            margin-bottom: 0;
            text-transform: uppercase;

            @include media-breakpoint-down(xs) {
                font-size: 2.5rem;
            }

            @media (max-width: 530px) {
                font-size: 2rem;
            }
        }

        h4 {
            color: $primary-gold-color;
            font-size: 1.85rem;
            margin-bottom: 0;

            @include media-breakpoint-down(xs) {
                font-size: 1.3rem;
                padding-left: .2rem;
            }
        }

        .text {
            h4 {
                margin-bottom: 2rem;
            }
        }

        .angebote {
            .angebot {
                h4 {
                    font-size: 1.85rem;
                    margin-bottom: .3rem;
                }
            }
        }

        h5 {
            color: $secondary-grey-color;
            font-size: 1.85rem;
            margin-bottom: 0;
        }

        p {
            font-size: 1rem;
            color: $secondary-grey-color;
        }

        a {
            color: $primary-gold-color;
            font-weight: 400;

            &:hover {
                color: $primary-gold-color;
            }

            &.no-hover {
                color: inherit;
                text-decoration: none;
            }
        }

        select,
        button {
            &:focus,
            &:focus-within {
                outline: none;
            }
        }

        .impressum-datenschutz-container {
            h1 {
                font-size: 3rem;
                margin-bottom: 3rem;

                @include media-breakpoint-down(xs) {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
            }

            h2 {
                font-size: 1.5rem;
                padding-left: 0;

                @include media-breakpoint-down(xs) {
                    font-size: 1.2rem;
                }
            }

            h3 {
                font-size: 2rem;
                margin-top: 2rem;

                @include media-breakpoint-down(xs) {
                    font-size: 1.5rem;
                    margin-top: 1.5rem;
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .button {
            color: $secondary-grey-color;
            font-family: ingra-2, sans-serif;
            font-size: 1rem;
            font-weight: 200;
            line-height: 0;
            position: relative;

            @include transition($transition-base);

            span,
            button {
                position: absolute;
                top: 58%;
                transform: translateY(-50%);
                width: 100%;
                text-align: center;
                z-index: 10;
            }

            &:hover {
                color: $primary-gold-color;
                text-decoration: none;

                &:before {
                    background-color: $layout-secondary-color;
                }

                rect {
                    fill: $white;
                    stroke-dasharray: 200, 0, 60, 0, 200, 0, 60, 0;
                    stroke-dashoffset: -15;
                    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1.3);
                }
            }

            svg {
                height: 50px;
                width: 200px;

                rect {
                    fill: $layout-secondary-color;
                    stroke: $primary-gold-color;
                    stroke-width: 3;
                    stroke-dashoffset: 15;
                    stroke-dasharray: 30, 170, 30, 20, 30, 170, 30, 20;
                    transition: all 0.35s ease-in-out;
                }
            }
        }

        .ui-sortable {
            margin-bottom: 1rem;

            &.vorname,
            &.nachname,
            &.button {
                display: inline-block;
                margin-right: 2rem;
            }

            label {
                color: $secondary-grey-color;
                display: block;
                margin-bottom: .2rem;
            }

            input {
                background-color: $layout-secondary-color;
                border: 2px solid $layout-secondary-color;
                color: $secondary-grey-color;
                font-size: .9rem;
                padding: .2rem .5rem;

                @include transition($transition-base);

                &:focus,
                &:focus-within {
                    outline: none;
                    border: 2px solid $primary-gold-color;
                }
            }
        }

        .custom-button {
            margin-top: 2rem;
            margin-bottom: 0;

            &.button {
                display: inline-block;

                &:hover {
                    color: $primary-gold-color;
                    text-decoration: none;

                    &:before {
                        background-color: $layout-secondary-color;
                    }

                    rect {
                        fill: $white;
                        stroke-dasharray: 200, 0, 60, 0, 200, 0, 60, 0;
                        stroke-dashoffset: -15;
                        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1.3);
                    }
                }

                button {
                    background-color: transparent;
                    border: 0;
                    display: inline-block;
                    font-family: inherit;
                    font-weight: inherit;
                    padding: 0;
                    top: 54%;
                }
            }
        }

        #mainContent {
            ul {
                li {
                    color: $secondary-grey-color;
                    list-style: none;
                    position: relative;
                    margin-bottom: .3rem;

                    &:before {
                        content: '';
                        background-color: $primary-gold-color;
                        display: inline-block;
                        height: 8px;
                        width: 8px;
                        position: absolute;
                        left: -26px;
                        top: 11px;
                    }
                }

            }
        }
    }
}

