// Variables
$primary-gold-color: #9D8416;
$secondary-grey-color: #464646;

$grey: #706F6F;
$light-grey: #C6C6C6;

$layout-primary-color: #FAF8EF;
$layout-primary-color-rgb: rgb(250,248,239);
$layout-secondary-color: #EBEEE5;
$layout-secondary-color-rgb: rgb(235,238,229);

$header-primary-color: #FAF6E5;
