{namespace vh=In2code\Powermail\ViewHelpers}

<f:comment>
	Mail: {mail}
	Answer: {answer}
</f:comment>

<div class="col-5 col-md-2 powermail_all_label powermail_all_type_{answer.field.type} powermail_all_marker_{answer.field.marker}">
    <p class="powermail_value"><strong>{answer.field.title}:</strong></p>
</div>
<div class="col-7 col-md-10 powermail-values powermail_all_value powermail_all_type_{answer.field.type} powermail_all_marker_{answer.field.marker}">
    <f:if condition="{vh:Condition.IsArray(val:answer.value)}">
        <f:else>
            <p class="powermail_value"><f:format.nl2br><vh:Misc.ManipulateValueWithTypoScript answer="{answer}" type="{type}">{answer.value}</vh:Misc.ManipulateValueWithTypoScript></f:format.nl2br></p>
        </f:else>
        <f:then>
            <f:for each="{answer.value}" as="subValue" iteration="index">
                <f:if condition="{subValue}">
                    <p class="powermail_value"> <vh:Misc.ManipulateValueWithTypoScript answer="{answer}" type="{type}">{subValue}</vh:Misc.ManipulateValueWithTypoScript><f:if condition="{index.isLast}"><f:else>, </f:else></f:if></p>
                </f:if>
            </f:for>
        </f:then>
    </f:if>
</div>
